$categories: (
    ionic: color($colors, primary),
    angular: #AC282B,
    communication: #8E8D93,
    tooling: #FE4C52,
    services: #FD8B2D,
    design: #FED035,
    workshop: #69BB7B,
    food: #3BC7C4,
    documentation: #B16BE3,
    navigation: #6600CC,
    priority-urgent: #f96868,
    priority-high: #f2a654,
    priority-ok: #009688,


);

@function auxiliary-categories() {
    @return map-remove($categories);
}
   
page-project-detail {
    @each $track, $value in auxiliary-categories() {
        .item[duedate=#{$track}] ion-avatar{
            border-left: 2px solid $value;
            padding-left: 10px;
        }
    }

    .item{
        border-bottom: 0.55px solid #c8c7cc;
        .item-inner{
            border: none !important;
        }
        .lineThrough{
            text-decoration: line-through;
        }
    }

}
