
<ion-header>
  <ion-navbar>
    <ion-title >{{projectDetail?.project_name}}</ion-title>
    <ion-buttons end class="bar-buttons" (click)="openFilter($event)">
        <button icon-only color="dark" ion-button class="bar-button"><ion-icon style="font-size:20px;" name="funnel"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content>
  <!-- <p padding [innerHTML]="projectDetail?.project_overview"></p> -->
  <ion-segment padding [(ngModel)]="actSegment" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="tasks">
      Civil
    </ion-segment-button>
    <ion-segment-button value="events">
      Cable
    </ion-segment-button>
    <ion-segment-button value="milestones">
      Clearance
    </ion-segment-button>
  </ion-segment>
  <br />
  <ion-list no-border *ngIf = "actSegment == 'tasks'" >
      <div *ngFor="let activity of projectActivities">
        <button ion-item 
            *ngIf="activity.activity_type == 3 && (activity.progress_status == activityFilter || activityFilter == 3)" 
            (click)="openDetail(activity, activity.progress_status);"
            [attr.duedate]="getActivityDueDateCheck(activity)"
            >      
          <ion-avatar item-start *ngIf="getUserPic(activity.activity_assigned_to_id)">
            <img src="{{getUserPic(activity.activity_assigned_to_id)}}">
          </ion-avatar>
          <h2 [ngClass]="activity.progress_status == 2? 'lineThrough':''">{{activity?.activity_name}}</h2>
          <p>{{getAssignedName(activity.activity_assigned_to_id)}}</p>
        </button>
      </div>
  </ion-list>

  <ion-list no-border *ngIf = "actSegment == 'events'">
      <div *ngFor="let activity of projectActivities">
        <button ion-item 
        *ngIf="activity.activity_type == 1 && (activity.progress_status == activityFilter || activityFilter == 3)" 
            (click)="openDetail(activity, activity.progress_status);"
            [ngClass] = "getActivityDueDateCheck(activity)"
            [attr.duedate]="getActivityDueDateCheck(activity)"
            >      
          <ion-avatar item-start *ngIf="getUserPic(activity.activity_assigned_to_id)">
            <img src="{{getUserPic(activity.activity_assigned_to_id)}}">
          </ion-avatar>
          <h2 [ngClass]="activity.progress_status == 2? 'lineThrough':''">{{activity?.activity_name}}</h2>
          <p>{{getAssignedName(activity.activity_assigned_to_id)}}</p>
        </button>
      </div>
  </ion-list>

  <ion-list no-border *ngIf = "actSegment == 'milestones'">
      <div *ngFor="let activity of projectActivities">
        <button ion-item 
        *ngIf="activity.activity_type == 2 && (activity.progress_status == activityFilter || activityFilter == 3)" 
            (click)="openDetail(activity, activity.progress_status);"
            [ngClass] = "getActivityDueDateCheck(activity)"
            [attr.duedate]="getActivityDueDateCheck(activity)"
            >      
          <ion-avatar item-start *ngIf="getUserPic(activity.activity_assigned_to_id)">
            <img src="{{getUserPic(activity.activity_assigned_to_id)}}">
          </ion-avatar>
          <h2 [ngClass]="activity.progress_status == 2? 'lineThrough':''">{{activity?.activity_name}}</h2>
          <p>{{getAssignedName(activity.activity_assigned_to_id)}}</p>
        </button>
      </div>
  </ion-list>
</ion-content>
