<ion-content>
  <ion-list radio-group [(ngModel)]="activity_assigned_to_id" (ngModelChange)="applyAssigned()">
    <ion-item *ngFor="let user of systemUsers">
      <ion-avatar item-start *ngIf="user.user_image_link">
        <img src="{{user?.user_image_link}}">
      </ion-avatar>
      <ion-label>{{user.user_name}}</ion-label>
      <ion-radio value="{{user.user_id}}"></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>