.about-header {
    background-color: #434954;
    padding: 16px;
    width: 100%;
    min-height: 150px;
    text-align: center;
  }
  
  .about-header img {
    max-width: 100px;
    min-height: 115px;
    padding: 5px 0 5px 0;
    border-radius: 50%;
    float: left;
  }
  .about-header h2{
    display: inline;
    float: left;
    margin-top: 2.8rem;
    padding: 0 30px 0;
    color: #fff;
  }
  
  .about-info p {
    color: #697072;
    text-align: left;
  }
  
  .about-info ion-icon {
    color: color($colors, primary);
    width: 20px;
  }
  
  .md,
  .wp {
    .about-info [text-right] {
      margin-right: 0;
    }
  }
  
  .ios .about-info {
    text-align: center;
  }
  
  .ios .about-info ion-icon {
    width: auto;
    margin-right: 10px;
  }
  
  .badgeImg{
    width: 40px !important;
    height: 40px !important;
  }
  
  .levelImg{
    width: 40px !important;
    min-height: auto !important;
  }
  
  .pointNumber{
    color: #488aff;
    font-weight: bold;
    font-size: 20px;
  }
  .colorBlue{
    color: #488aff;
  }
  