<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Profile</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <div class="about-header">    
      <ion-thumbnail item-start *ngIf="userInfo?.user_display_pic">
        <img src="{{userInfo?.user_display_pic}}" alt="ionic logo">
      </ion-thumbnail>
      <h2 item-end>
        <span style="display:block; text-align:left;">{{userInfo?.user_name}}</span>
        <span style="font-size:15px;"><img class="levelImg" src="{{userInfo?.user_level.image}}" alt="ionic logo">{{userInfo?.user_level.level}}</span>
      </h2>
    </div>
    
    <div *ngIf="userInfo?.user_level">
      <ion-list-header>
          <ion-icon name="school" item-right></ion-icon>
          <h2 style="display: inline-block;">Experience</h2>
      </ion-list-header>
      <ion-card style="text-align:center;">      
        <ion-grid>
          <ion-row>
            <ion-col col-6>
                Points
            </ion-col>
            <ion-col col-6>
                Experience
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6 class="pointNumber">
                {{userInfo?.user_points}}
            </ion-col>
            <ion-col col-6 class="pointNumber">
                {{userInfo?.user_experience}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  
    <ion-list *ngIf="badgesKeys">
      <ion-list-header>
          <ion-icon name="ribbon" item-right></ion-icon>
          <h2 style="display: inline-block;">Achivements</h2>
      </ion-list-header>
      <ion-item *ngFor="let key of badgesKeys">      
        <img class="badgeImg" item-left src="{{userInfo.user_badges[key][0].badge_image}}" alt="ionic logo">
        <ion-label>
          <span>{{userInfo.user_badges[key][0].badge_title}}</span>          
          <span style="float:right;" class="colorBlue" >{{userInfo.user_badges[key].length}}</span>
        </ion-label>
      </ion-item>
    </ion-list>
    <!-- <div padding class="about-info">
      <h4>Ionic Conference</h4>
  
      <ion-list no-lines>
        <ion-item>
          <ion-icon name="calendar" item-start></ion-icon>
          <ion-label>Date</ion-label>
          <ion-datetime displayFormat="MMM DD, YYYY" max="2056" [(ngModel)]="conferenceDate"></ion-datetime>
        </ion-item>
  
        <ion-item>
          <ion-icon name="pin" item-start></ion-icon>
          <ion-label>Location</ion-label>
          <ion-select>
            <ion-option value="madison" selected>Madison, WI</ion-option>
            <ion-option value="austin">Austin, TX</ion-option>
            <ion-option value="chicago">Chicago, IL</ion-option>
            <ion-option value="seattle">Seattle, WA</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
  
      <p>
        The Ionic Conference is a one-day conference featuring talks from the
        Ionic team. It is focused on Ionic applications being built with
        Ionic 2. This includes migrating apps from Ionic 1 to Ionic 2,
        Angular concepts, Webpack, Sass, and many other technologies used
        in Ionic 2. Tickets are completely sold out, and we’re expecting
        more than 1000 developers – making this the largest Ionic
        conference ever!
      </p>
    </div> -->
  </ion-content>
  