// Styles for all of the user pages:
// Login, Signup, Support

page-user {
  .logo {
    padding: 20px 0;
    min-height: 120px;
    text-align: center;
    margin-top: 115px;

    img {
      max-width: 150px;
    }
  }
  ion-content{    
    .item{
      background: transparent !important;
    }
    ion-item{
        padding: 0px !important;
        .item-inner{
          padding: 0 !important;
        }
        ion-label{
          color: #fff !important;
        }
    }
  }

  .list {
    margin-bottom: 0;
  }
  .loginFormInput{
    border-bottom: 1px solid #488aff;
    color: #fff;
  }
}