<ion-content style='background: url("assets/img/izeberg-mainpg2.jpg"); background-size: cover; background-position: center top;'>
	<div class="logo">
		<!-- <img src="assets/img/izeberg-logo-pyramid-100.png" alt="Ionic logo"> -->
		<!-- <img src="assets/img/izeberg-logo-full.png" alt="Ionic logo"> -->
		<img src="assets/img/izeberg-logo-full-maxis-big.png" alt="Ionic logo">
	</div>

	<form #loginForm="ngForm" novalidate>
		<ion-row responsive-sm>
			<ion-col col-1>&nbsp;</ion-col>
			<ion-col col-10>
				<ion-list no-lines>
					<ion-item>
						<ion-label stacked color="primary">Username</ion-label>
						<ion-input class="loginFormInput" [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
							required>
						</ion-input>
					</ion-item>
					<p ion-text [hidden]="username.valid || submitted == false" color="danger" padding-left>
						Username is required
					</p>

					<ion-item>
						<ion-label stacked color="primary">Password</ion-label>
						<ion-input class="loginFormInput" [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
						</ion-input>
					</ion-item>
					<p ion-text [hidden]="password.valid || submitted == false" color="danger" padding-left>
						Password is required
					</p>

					<ion-item style="display:none;">
						<ion-label stacked color="primary">Site Name ({{login.siteName}}.izeberg.com/maxis_osp)</ion-label>
						<ion-input class="loginFormInput" [(ngModel)]="login.siteName" name="siteName" type="text" value="cloud" #siteName="ngModel" required>
						</ion-input>
					</ion-item>
					<p ion-text [hidden]="siteName.valid || submitted == false" color="danger" padding-left>
						Site Name is required
					</p>
				</ion-list>
			</ion-col>
			<ion-col col-1>&nbsp;</ion-col>
		</ion-row>	

		<ion-row responsive-sm>
			<ion-col col-12>&nbsp;</ion-col>
		</ion-row>

		<ion-row responsive-sm>
			<ion-col col-1>&nbsp;</ion-col>
			<ion-col col-10>
				<button ion-button (click)="onLogin(loginForm)" type="submit" block>Login</button>
				<!-- <button ion-button (click)="otherLogin(1,loginForm)" type="submit" block>Maxis PI User</button>
				<button ion-button (click)="otherLogin(2,loginForm)" type="submit" block>Maxis Planner User</button>
				<button ion-button (click)="otherLogin(3,loginForm)" type="submit" block>Maxis Manager User</button> -->
			</ion-col>
			<ion-col col-1>&nbsp;</ion-col>
		</ion-row>

		<ion-row responsive-sm>
			<ion-col col-1>&nbsp;</ion-col>
			<ion-col>
				<button ion-button color="light" block>Signup</button>
			</ion-col>
			<ion-col col-1>&nbsp;</ion-col>
		</ion-row>
	</form>

</ion-content>
