page-ize-bot {
    $userBackgroundColor: #387ef5;
    $toUserBackgroundColor: rgb(233, 232, 230);
    $popover-ios-width: 400px;

    .minWidth .popover-content{
        min-width: 2000px;
    }
    .bg-color{
        background-color: #fff;
    }

    ion-toolbar.input-wrap{
      position: fixed;
      left: 0;
      bottom: 35px;
      border-top: 1px solid rgb(233, 232, 230);
      .toolbar-background{
          background-color: #fff; 
      }
      ion-input{
        font-size: 13px;
        margin: 5px !important;
        background-color: transparent;
      }
      .input-box{
        height: 37px;
        margin-top: 8px;
        border-radius:30px;
        border: 1px solid $toUserBackgroundColor;
        background-color: rgb(246, 247, 248);
        ion-item{
            background-color: transparent;
            ion-input{
                height: 22px;
                margin: 2px !important;
                input{
                    margin: 0 !important;
                }
            }
        }
      }
    }
    .input-cover {
      position: static;
    }
    ion-footer {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
        background-color: #fff;
      }
    .line-breaker {
        white-space: pre-line;
    }
    
    .input-wrap {
        padding: 0 5px;
        ion-textarea {
          position: static;
    
        }
        ion-col.col {
          padding: 0;
        }
        button {
          width: 100%;
          height: 55px;
          font-size: 1.3em;
          margin: 0;
        }
        /* ion-input, textarea {
          border: 1px solid #ddd;
          background-color: $toUserBackgroundColor !important;
          border-radius: 24px;
        } */
      }

      .message-wrap {
        padding: 0 10px;
        .message {
          position: relative;
          padding: 7px 0;
          .user-img {
            position: absolute;
            border-radius: 45px;
            width: 45px;
            height: 45px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
          }
    
          .msg-detail {
            width: 100%;
            display: inline-block;
            p {
              margin: 0;
            }
            .msg-info {
              p {
                font-size: .8em;
                color: #888;
              }
            }
    
            .msg-content {
              position: relative;
              margin-top: 5px;
              border-radius: 5px;
              padding: 8px;
              border: 1px solid #ddd;
              color: #fff;
              width: auto;
              background-color: #fff;
    
              img{
                  max-width: 150px !important;
                  max-height: 150px !important;
              }

              span.triangle {
                background-color: $toUserBackgroundColor;
                border-radius: 2px;
                height: 8px;
                width: 8px;
                top: 12px;
                display: block;
                border-style: solid;
                border-color: #ddd;
                border-width: 1px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                position: absolute;
              }
            }
    
          }
        }
    
        .message.left {
          .msg-content {
            background-color: $toUserBackgroundColor;
            float: left;

          }
          img{
            float: left;
          }
          .msg-detail {
            padding-left: 60px;
          }
          .user-img {
            left: 0;
          }
          .msg-content {
            color: rgb(77, 71, 71);
            span.triangle {
              border-top-width: 0;
              border-right-width: 0;
              left: -5px;
            }
          }
    
        }
    
        .message.right {
          .msg-detail {
            padding-right: 60px;
            .msg-info {
              text-align: right;
            }
          }
          img{
            float: right;
          }
          .user-img {
            right: 0;
          }
          ion-spinner {
            position: absolute;
            right: 10px;
            top: 50px;
          }
          .msg-content {
            background-color: $userBackgroundColor;
            float: right;
            span.triangle {
              background-color: $userBackgroundColor;
              border-bottom-width: 0;
              border-left-width: 0;
              right: -5px;
            }
          }
    
        }
    
    }

    .Blink {
      color: #ff0000;
      animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
    }
    @keyframes blinker {  
      from { opacity: 1; }
      to { opacity: 0; }
    }

}
