<ion-header>
  <ion-navbar>
    <ion-title>izeBot</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color">
    <ion-toolbar class="input-wrap">
        <ion-row class="message_row">
            <ion-col col-1>
                <button ion-button clear icon-only item-right (click)="getshortCode($event)">
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-9 class="input-box">
                <ion-item no-lines>
                    <ion-input #chat_input type="text" placeholder="Message" [(ngModel)]="question"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-1>
                <button ion-button clear icon-only item-right (click)="ask()" [disabled]="question == ''">
                    <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-1>
                <button ion-button clear icon-only item-right (click)="sendVoice()" >
                    <ion-icon name="mic" [class.Blink]="recording"></ion-icon>
                </button>
            </ion-col>
            <!-- <ion-buttons end class="bar-buttons" (click)="sendVoice()">
                <button icon-only color="dark" ion-button class="bar-button"><ion-icon style="font-size:20px;" name="mic"></ion-icon></button>
            </ion-buttons> -->
        </ion-row>
    </ion-toolbar>
    <div class="message-wrap">
        <div *ngFor="let msg of discussions"
              class="message"
              [class.left]=" msg.user_id != userInfo.user_id "
              [class.right]=" msg.user_id === userInfo.user_id "
              >
              <!-- msg.userId === toUser.id -->
              <!-- [class.right]=" msg.userId === user.id " -->
            <img class="user-img" [src]="msg.user_display_pic" alt="" src="">
            <!-- <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner> -->
            <div class="msg-detail">
                <div class="msg-info">
                    <p>
                        {{msg.user_name}}&nbsp;&nbsp;&nbsp;{{msg.discussion_created_on}}</p> <!-- | relativeTime -->
                </div>
                <div class="msg-content" text-wrap>
                    <span class="triangle"></span>
                    <!-- <ion-thumbnail item-start> -->
                    <img class="attachImage" src="{{msg.document.href}}" *ngIf="msg.document !== undefined" >
                    <!-- </ion-thumbnail> -->
                    <p class="line-breaker" [innerHTML]="msg?.discussion_comments" *ngIf="msg.discussion_comments != ''"></p>


                    <ion-list no-border *ngIf = "msg.myActivities.length && msg.discussion_type == 'taskFilter' " >
                        <ion-list-header>
                            <h2 *ngIf="msg.myActivities.length">{{msg.myActivities[0].query}}</h2>
                            <h2 *ngIf="!msg.myActivities.length">No Task found</h2>
                        </ion-list-header>

                        <button ion-item *ngFor="let activity of msg.myActivities" (click)="!activity.activity_dummy && openDetail(activity, activity.progress_status);">
                            <h2 [ngClass]="activity.progress_status == 2? 'lineThrough':''">{{activity?.activity_name}}</h2>
                        </button>
                    </ion-list>
                    <ion-list no-border *ngIf = "msg.discussion_type == 'projectFilter' " >
                        <ion-list-header>

                            <!--<h2>Projects behind the schedule</h2>-->
                            <h2>{{msg.discussion_title}}</h2>
                        </ion-list-header>
                        <button ion-item *ngFor="let project of msg.myActivities"
                            (click)="loadProject(project.project_id,project.project_name);"
                            >
                            <!-- (click)="openDetail(activity, activity.progress_status);" -->
                            <h2>{{project?.project_name}}</h2>
                        </button>
                    </ion-list>
                </div>
            </div>
        </div>
        <div class="message left" *ngIf="msgLoading">
                <!-- msg.userId === toUser.id -->
                <!-- [class.right]=" msg.userId === user.id " -->
            <img class="user-img" src="assets/img/izeberg-logo-pyramid-100.png" alt="">
            <!-- <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner> -->
            <div class="msg-detail">
                <div class="msg-info">
                    <p></p> <!-- | relativeTime -->
                </div>
                <div class="msg-content">
                    <span class="triangle"></span>
                    <!-- </ion-thumbnail> -->
                    <img src="assets/img/msg-loading.gif" alt=""/>
                </div>
            </div>
        </div>
        <div class="message" style="height:60px;">&nbsp;</div>
    </div>

</ion-content>
