<ion-header>
  <ion-navbar>
    <ion-title>{{project?.project_name}}</ion-title>
  </ion-navbar>
</ion-header>


<!-- <ion-content>
  <p padding [innerHTML]="project?.project_overview"></p>

</ion-content> -->
<ion-content>
    <ion-list *ngIf="moduleAttributesList">
        <ion-item>
          <h2>Name</h2>
          <p>{{project.project_name}}</p>
        </ion-item>
        <ion-item>
          <h2>Overview</h2>
          <p [innerHtml]="project.project_overview"></p>
        </ion-item>
      <div *ngFor="let elm of moduleAttributesList">
        <!-- text input -->  
        <ion-item *ngIf="elm?.type == 'text' || elm?.type == 'date'">
          <h2>{{elm?.label}}</h2>
          <p>{{elm.model}}</p>
        </ion-item>
        <!-- Textarea -->
        <ion-item *ngIf="elm?.type == 'textarea'">
            <ion-textarea placeholder="{{elm?.label}}" id="{{elm.attrKey}}"  name="{{elm.attrKey}}" [(ngModel)]="elm.model"></ion-textarea>
        </ion-item>
        
        <!-- Dropdown -->
        <ion-item *ngIf="elm?.type == 'dropdown'">
            <h2>{{elm?.label}}</h2>
            <p>{{getVal(elm.model,elm.data)}}</p>
            <!-- <ion-select id="{{elm.attrKey}}" name="{{elm.attrKey}}" [(ngModel)]="elm.model">
              <ion-option  *ngFor="let elmData of elm.data" value="{{elmData.key}}">{{elmData.value}}</ion-option>
            </ion-select> -->
        </ion-item>
        
        <!-- Image Upload -->
        <ion-card *ngIf="elm?.type == 'fileUpload' && elm.model">
          <img [src]="pathForImage(elm.model)"/>
          <div class="card-title">hello</div>
          <div class="card-subtitle">{{pathForImage(elm.model)}}</div>
        </ion-card>
        <ion-item class="camCapture" *ngIf="elm?.type == 'fileUpload'" text-center>
            <button type="button" ion-button item-end (click)="cameraImage(elm.attrKey,elm)" class="camBtn"><ion-icon name="camera"></ion-icon></button>
            <input type="hidden" id="{{elm.attrKey}}" name="{{elm.attrKey}}" [(ngModel)]="elm.model" />
            <div>hello-{{elm.model}}</div>
        </ion-item>
      </div>
    </ion-list>
</ion-content>
