/* .ion-page{
  ion-content{
    .scroll-content{
      height: 53px;
      background: rgb(17, 16, 17);
      position: absolute;
      top: 85%;
      left: 0;
    }
  }
} */

.tabbar {
  justify-content: center;
  height: 40px;
  .tab-button{
    min-height: 3.0rem !important;
  }
  ion-icon{
    font-size: 1.7rem !important;
    height: 18px;
  }
  .tab-button-text{
    font-size: 10px;
    margin-top: 0px !important;
  }
}

.tab-button {
  max-width: 200px;
  max-height: 32px;
}
