<!-- <ion-content>Testing</ion-content> -->
<ion-tabs [selectedIndex]="mySelectedIndex" name="conference">
  <ion-tab [root]="tab1Root" tabTitle="Projects" tabIcon="ios-briefcase"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Site Ins. Form" tabIcon="ios-information-circle"></ion-tab>
  <!-- <ion-tab [root]="tab4Root" tabTitle="izeBot" tabIcon="md-bulb"  (ionSelect)="izebot()"></ion-tab> -->
  <ion-tab [root]="tab3Root" tabTitle="izeBot" tabIcon="md-bulb" ></ion-tab>
  <ion-tab tabIcon="ios-ionic-outline" *ngIf = "!notListening"></ion-tab>
  <!-- <ion-tab [root]="tab4Root" tabTitle="izeBot" tabIcon="ios-map-outline"></ion-tab> -->
  <ion-tab [root]="tab4Root" tabTitle="EOT" tabIcon="ios-calendar-outline"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Dashboard" tabIcon="pie"></ion-tab>


  <!-- <ion-tab [root]="tab2Root" tabTitle="Projects" tabIcon="ios-briefcase-outline"></ion-tab> -->
  <!-- <ion-tab [root]="tab4Root" tabTitle="izeBot" tabIcon="md-bulb"  (ionSelect)="izebot()"></ion-tab> -->
  <!-- <ion-tab [root]="tab4Root" tabTitle="izeBot" tabIcon="md-bulb" ></ion-tab> -->
  <!-- <ion-tab tabIcon="ios-ionic-outline" *ngIf = "!notListening"></ion-tab> -->
  <!-- <ion-tab [root]="tab4Root" tabTitle="izeBot" tabIcon="ios-map-outline"></ion-tab> -->
  <!-- <ion-tab [root]="tab3Root" tabTitle="Calendar" tabIcon="ios-calendar-outline"></ion-tab>   -->
  <!-- <ion-tab [root]="tab5Root" tabTitle="Profile" tabIcon="ios-contact-outline"></ion-tab> -->
</ion-tabs>
