<ion-header>
  <ion-navbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="chart-dash">
    <ion-col col-2>
    </ion-col>
    <ion-col col-8 text-center>
      <h1>Projects Summary</h1>
      <div class="chart-wrapper">
        <canvas class="chart-canvas" *ngIf="doughnutChartData?.length > 0" baseChart id="doughnut-1" [data]="doughnutChartData" [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType" [options]="doughnutChartOptions" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </ion-col>
    <ion-col col-2>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 text-center>
      <h1>Total Projects : {{totalProjects}}</h1>
    </ion-col>
  </ion-row>
  <div>
  </div>
</ion-content>