//.ios, .md {
    
       //page-dashboard {
    
        //    .scroll-content {
        //        background-color: map-get($colors, light);
        //    }
    
        //    ion-card-header {
        //        font-weight: bold;
        //    }
    
       //}
    
    //}
page-dashboard{
    .chart-dash {
        height: 450px;
    }

    .chart-canvas{
        display: block;
        height: 400px;
        // width: 100ch;
    }
}