<ion-content>
    <ion-list radio-group [(ngModel)]="activityFilter" (ngModelChange)="applyFilter()">
      <ion-list-header>
        View
      </ion-list-header>
      <ion-item>
        <ion-label>Incomplete</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-label>Completed</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-label>All Activities</ion-label>
        <ion-radio checked="true" value="3"></ion-radio>
      </ion-item>
    </ion-list>
</ion-content>
