<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>EOT</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content>
    <ion-list  *ngIf="records?.length > 0">
      <ion-item-sliding #item *ngFor="let record of records">      
          <button ion-item  (click)='create(record)' >          
            <h2 align="left" text-wrap>{{record.eot_title}}</h2>
            <p>{{record.eot_description}}</p>
            <ion-icon *ngIf="record.workflowData != null && record.workflowData.final_approved == 0 && record.workflowData.wr_action_status == 'Approved'" color="completed1" name="checkmark-circle" item-right></ion-icon>
            <ion-icon *ngIf="record.workflowData != null && record.workflowData.final_approved == 1 && record.workflowData.wr_action_status == 'Approved'" color="secondary" name="checkmark-circle" item-right></ion-icon>
            <ion-icon *ngIf="record.workflowData != null && record.workflowData.wr_action_status == 'Rejected'" color="danger" name="close-circle" item-right></ion-icon>
            <ion-icon *ngIf="record.workflowData != null && record.workflowData.wr_action_status == null" color="completed1" name="time" item-right></ion-icon>
          </button>
          <ion-item-options side="right" (ionSwipe)="workflow(99,record.eot_id)">
            <button ion-button color="primary" (click)='workflow(99,record.eot_id)'><ion-icon name="clipboard"></ion-icon>Workflow</button>
          </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-fab bottom right #fab>
      <button ion-fab (click)="create();"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  </ion-content>
  