page-manhole-update {
    ion-segment{
        padding: 0 !important;
    }
    ion-label{
        font-size: 12px;
        color: rgb(73, 73, 73);
    }
    ion-input{
        input{
            margin-left: 0 !important;
        }
    }
    button[ion-fab] {
        overflow: visible;
        position: relative;
        contain: layout;

        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;

            color: white;
            background-color: rgba(0,0,0,0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
            contain: layout;
        }
    }

    //Round Progressbar
    $size: 60px;
    @mixin circle($size) {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - #{$size/2});
    top: calc(50% - #{$size/2});
    width: $size;
    height: $size;
    }
    
    .progress-pie-chart {
        width: $size;
        height: $size;
        border-radius: 50%;
        background-color: #488aff;
        position: relative;
        &.gt-50 {
            background-color: color($colors, completed);
            transform: rotate(180deg);
            .ppc-progress-fill{
                background: #488aff;
            }
            .ppc-percents{
                transform: rotate(-180deg);
            }
        }
    }
    .ppc-progress {
    @include circle($size);
    clip: rect(0, $size, $size, #{$size/2});
        .ppc-progress-fill {
            @include circle($size);
            clip: rect(0, #{$size/2}, $size, 0);
            background: color($colors, completed);
            transform: rotate(90deg);
        }
        
        .gt-50 & {
            clip: rect(0, #{$size/2}, $size, 0);
            
            .ppc-progress-fill {
            clip: rect(0, $size, $size, #{$size/2});
            background: #488aff;
            }
        }
    }
    .rotate-test{
        transform: rotate(240.012deg) !important;
    }
    .ppc-percents {
        @include circle(#{$size/1.15});
        background: #fff;
        text-align: center;
        display: table;
        span {
            display: block;
            font-size: 11px;
            font-weight: bold;
            color: color($colors, completed);
        }
    }
    .pcc-percents-wrapper {
        display: table-cell;
        vertical-align: middle;
    }
    
    
    
    body {
        font-family: Arial;
        background: #f7f7f7;
    }
    .progress-pie-chart {
        margin: 50px auto 0;
    }
}
