<ion-header>
  <ion-navbar>
    <ion-title>Update Status</ion-title>
    <ion-buttons end class="bar-buttons" (click)="showForm()">
      <button icon-only color="dark" ion-button class="bar-button">
        <ion-icon style="font-size:20px;" name="ios-add-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center>
        <h1>{{pointA?.site_instruction_detail_title}} - {{pointB?.site_instruction_detail_title}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-label>From MH No.</ion-label>
        <ion-input type="text" value="{{pointA?.site_instruction_detail_code}}"></ion-input>
      </ion-col>
      <ion-col col-6 text-right>
        <ion-label>To MH No.</ion-label>
        <ion-input type="text" value="{{pointB?.site_instruction_detail_code}}" text-right></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-label>Name</ion-label>
        <ion-input type="text" value="{{pointA?.site_instruction_detail_title}}"></ion-input>
      </ion-col>
      <ion-col col-6 text-right>
        <ion-label>Name</ion-label>
        <ion-input type="text" value="{{pointB?.site_instruction_detail_title}}" text-right></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-label>Planned Lat/Lng</ion-label>
        <ion-input type="text" value="{{pointA?.site_instruction_detail_lat}}/{{pointA?.site_instruction_detail_lng}}"></ion-input>
      </ion-col>
      <ion-col col-6 text-right>
        <ion-label>Planned Lat/Lng.</ion-label>
        <ion-input type="text" value="{{pointB?.site_instruction_detail_lat}}/{{pointB?.site_instruction_detail_lng}}" text-right></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-segment padding [(ngModel)]="actSegment" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="civil">
      Civil
    </ion-segment-button>
    <ion-segment-button value="cable">
      Cable
    </ion-segment-button>
    <ion-segment-button value="clearance">
      Clearance
    </ion-segment-button>
  </ion-segment>
  <br />
  <ion-list no-border *ngIf="actSegment == 'civil'">
    <ion-item-sliding *ngFor="let civil of activity.activity_update_local">
      <button ion-item *ngIf="civil.form_module_key == 'civil'" (click)="showdetail(civil)">
        <!-- *ngIf="activity.activity_type == 3 && (activity.progress_status == activityFilter || activityFilter == 3)"  -->
        <div>
          <h2>{{dateFormat(civil?.form_created_on,"DD-MM-YYYY HH:mm")}}</h2>
          <p>Dis: {{getDistance(civil.form_custom_fields)}} m</p>
        </div>
        <div class="progress-pie-chart pie-chart-{{civil?.form__id}}" item-right>
            <div class="ppc-progress">
              <div class="ppc-progress-fill civil-progress-{{civil?.form__id}}"></div>
            </div>
            <div class="ppc-percents">
              <div class="pcc-percents-wrapper">
                <span>{{getCivilCompletedPercentage(civil.form__id,'custom_150',civil.form_custom_fields)}}%</span>
              </div>
            </div>
          </div>
      </button>      
      <ion-item-options side="right">
          <button ion-button color="danger" (click)='deleteItem(civil,"civil")'>
            <ion-icon name="trash"></ion-icon>
            DELETE
          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list no-border *ngIf="actSegment == 'cable'">
    <ion-item-sliding *ngFor="let cable of activity.activity_update_local">
      <button ion-item *ngIf="cable.form_module_key == 'cable'" (click)="showdetail(cable)">
        <div>
          <h2>{{dateFormat(cable?.form_created_on,"DD-MM-YYYY HH:mm")}}</h2>
          <p>Dis: {{getCableDistance(cable.form_custom_fields)}} m</p>
        </div>
        <div class="progress-pie-chart pie-chart-{{cable?.form__id}}" item-right>
            <div class="ppc-progress">
              <div class="ppc-progress-fill cable-progress-{{cable?.form__id}}"></div>
            </div>
            <div class="ppc-percents">
              <div class="pcc-percents-wrapper">
                <span>{{getCableCompletedPercentage(cable.form__id,'custom_164',cable.form_custom_fields)}}%</span>
              </div>
            </div>
          </div>
      </button>      
      <ion-item-options side="right">
          <button ion-button color="danger" (click)='deleteItem(cable,"cable")'>
            <ion-icon name="trash"></ion-icon>
            DELETE
          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list no-border *ngIf="actSegment == 'clearance'">
    <ion-item-sliding *ngFor="let clearance of activity.activity_update_local">
      <button ion-item *ngIf="clearance.form_module_key == 'site_clearance'" (click)="showdetail(clearance)">
        <!-- *ngIf="activity.activity_type == 3 && (activity.progress_status == activityFilter || activityFilter == 3)"  -->
        <div>
          <h2>{{dateFormat(clearance?.form_created_on,"DD-MM-YYYY HH:mm")}}</h2>
        </div>
      </button>      
      <ion-item-options side="right">
          <button ion-button color="danger" (click)='deleteItem(clearance,"clearance")'>
            <ion-icon name="trash"></ion-icon>
            DELETE
          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab bottom right #fab>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="google" (click)="openForm('civil','Civil')">
        <ion-icon name="add"></ion-icon>
        <ion-label>Civil</ion-label>
      </button>
      <button ion-fab color="twitter" (click)="openForm('cable','Cable')">
        <ion-icon name="add"></ion-icon>
        <ion-label>Cable</ion-label>
      </button>
      <button ion-fab color="favorite" (click)="openForm('site_clearance','Site Clearance')">
        <ion-icon name="add"></ion-icon>
        <ion-label>Site Clearance</ion-label>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>