<ion-header>
  <ion-navbar>
    <ion-title>{{name}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" id="customForm" name="customForm" (ngSubmit)="showConfirm(f.value)">
    <ion-list *ngIf="moduleAttributesList">
      <div *ngFor="let elm of moduleAttributesList" [hidden]="elm?.label == 'Distance (m)'">
        <!-- text input -->
        <ion-item *ngIf="elm?.type == 'text' && elm?.attrKey != 'custom_176' && elm?.attrKey != 'custom_178'">
          <ion-label color="primary" floating>{{elm?.label}}
            <span *ngIf="elm?.required == 1">*</span>
          </ion-label>
          <ion-input type="text" id="{{elm.attrKey}}" name="{{elm.attrKey}}" [(ngModel)]="elm.model"></ion-input>
        </ion-item>

        <!-- custom_176 input -->
        <ion-grid *ngIf="elm?.type == 'text' && (elm?.attrKey == 'custom_176' || elm?.attrKey == 'custom_178')">
          <ion-row [ngStyle]="{'margin-bottom': '10px'}">
            <ion-label color="primary" floating>{{elm?.label}}
              <span *ngIf="elm?.required == 1">*</span>
            </ion-label>
          </ion-row>
          <ion-row>
            <ion-col col-8>
              <ion-input type="text" id="{{elm.attrKey}}" name="{{elm.attrKey}}" [(ngModel)]="elm.model"></ion-input>
              <hr>
            </ion-col>
            <ion-col col-2>
              <button type="button" ion-button item-end (click)="getLocation(elm.attrKey,elm)">
                <ion-icon name="locate"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- Textarea -->
        <ion-item *ngIf="elm?.type == 'textarea'">
          <ion-textarea placeholder="{{elm?.label}}" id="{{elm.attrKey}}" name="{{elm.attrKey}}" [(ngModel)]="elm.model"></ion-textarea>
        </ion-item>

        <!-- Image Upload -->
        <ion-card *ngIf="elm?.type == 'fileUpload' && elm.model" [ngStyle]="{'text-align': center}">
          <img class="card-img" [hidden]="elm.model === null" [src]="elm.model" />
        </ion-card>

        <ion-item class="camCapture" *ngIf="elm?.type == 'fileUpload'" text-center>
          <button type="button" ion-button item-end (click)="takePhoto(elm.attrKey,elm)" class="camBtn">
            <ion-icon name="camera"></ion-icon>
          </button>
          <input type="hidden" id="{{elm.attrKey}}" name="{{elm.attrKey}}" [(ngModel)]="elm.model" />
          <div>hello-{{elm.model}}</div>
        </ion-item>

        <!-- Multi Image Upload -->
        <ion-grid *ngIf="elm?.type == 'multiFileUpload' && elm.model">
          <ion-row [ngStyle]="{'text-align' : 'center', 'margin': 'auto'}">
            <ion-col *ngFor="let elmData of elm.data">
              <img class="column card-img-multi" alt="image" [src]="elmData"
              />
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-item class="camCapture" *ngIf="elm?.type == 'multiFileUpload'" text-center>
          <button type="button" ion-button item-end (click)="takePhoto(elm.attrKey,elm)" class="camBtn">
            <ion-icon name="camera"></ion-icon>
          </button>
          <input type="hidden" id="{{elm.attrKey}}" name="{{elm.attrKey}}" [(ngModel)]="elm.model" />
          <div>hello-{{elm.model}}</div>
        </ion-item>

        <!-- Dropdown -->
        <ion-item *ngIf="elm?.type == 'dropdown'">
          <ion-label color="primary" floating>{{elm?.label}}
            <span *ngIf="elm?.required == 1">*</span>
          </ion-label>
          <ion-select id="{{elm.attrKey}}" name="{{elm.attrKey}}" [(ngModel)]="elm.model">
            <ion-option *ngFor="let elmData of elm.data" value="{{elmData.key}}">{{elmData.value}}</ion-option>
          </ion-select>
        </ion-item>

        <!-- Date Picker -->
        <ion-item *ngIf="elm?.type == 'date'">
          <ion-label color="primary" floating>{{elm?.label}}
            <span *ngIf="elm?.required == 1">*</span>
          </ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" value="20/03/2018" id="{{elm.attrKey}}" name="{{elm.attrKey}}" [(ngModel)]="elm.model"></ion-datetime>
        </ion-item>
      </div>
      <div class="row">
        <div class="col" text-center>
          <button ion-button type="submit" text-ceter style="margin-bottom: '50px'">Update</button>
        </div>
        <!-- <div class="col" text-center>
          <button type="button" ion-button color="danger" type="submit" (click)="closeModal();">Cancel</button>
        </div> -->
      </div>
    </ion-list>
  </form>
</ion-content>