page-update-form {
    ion-item{
        border-bottom: none !important;
        padding-right: 16px !important;
    }

    .camCapture{
        .item-inner{
            border-bottom: none;
            .camBtn{
                height: 55px !important;
                font-size: 40px !important;
                padding: 0 10px;
                background: #646464;
                margin: 20px auto;
            }

            .input-wrapper{
                display: none;
            }
        }
    }
    
    .card-img{
        height: 100px;        
        width: 80px;
        text-align: center;
        margin: auto;
    }
}
