<ion-content>
    <ion-slides loop='true' pager="true" effect="coverflow">
        <ion-slide *ngFor="let point of rewardPoints">
            <h1>{{point?.event}}</h1>
            <p>
                <img class="levelImg" src="{{point?.image}}" alt="ionic logo">
                <br />
                <span style="font-size:35px;">{{point?.points}}</span>
                <br />
                Points!
            </p>
            <p>{{point?.push_message}}</p>
            <button ion-button (click)="dismiss()">OK</button>
        </ion-slide>
    </ion-slides>
    
  <!-- <ion-slides *ngFor="let point of rewardPoints">
      <ion-slide>
        <ion-title text-wrap>{{point?.event}}</ion-title>
        <img class="levelImg" src="{{point?.image}}" alt="ionic logo">
        <ion-list *ngIf = "rewardPoints">
          <ion-item text-wrap>
            {{point?.push_message}}
          </ion-item>
        </ion-list>
      </ion-slide>
  </ion-slides>
  <ion-list>
    <ion-item>
        <button ion-button (click)="dismiss()">
          OK
        </button>
    </ion-item>
  </ion-list> -->
</ion-content>