page-modal-toast {
    height: 550px !important;
    width: 300px !important;
    position: absolute;
    top: calc(55% - 250px) !important;
    left: calc(50% - 150px) !important;
    
    ion-content {
        background-color: transparent !important;
        color: #eee !important;
        text-align: center;
        border-radius: 10px;
        padding-bottom: 10px;
        ion-slides{
            height: 80% !important;
            ion-slide{
                border-radius: 10px;
                background-color: #fff;
                color: #000;
                padding: 0 20px 15px;
            }
        }

        ion-title .toolbar-title{
            font-size: 2.8rem;
            color: #fff;
            margin-bottom: 10px;
        }
        img.levelImg{
            vertical-align: middle; 
            width: 80px !important;
            margin-bottom: 10px;
        }
        ion-item{
            background: transparent !important;
            text-align: center !important;
            border: none !important;
            color: #fff !important;
            ion-label{
                color: #fff;
            }
        }
    }
}
