<!--
  Generated template for the SiteInstructionAddNodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
        <button ion-button (click)="getLocation()">
          <ion-icon name="locate"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>{{typeName}}</ion-title>
    <ion-buttons end>
        <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="nodeType == 'pole' || nodeType == 'mh'">
    <ion-list>
      <ion-item>
        <ion-label color="primary">Title</ion-label>
        <ion-input placeholder="" [(ngModel)] = "extra.site_instruction_detail_title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">P/U Code</ion-label>
        <ion-input placeholder="" [(ngModel)] = "extra.site_instruction_detail_code"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Description of Work"  [(ngModel)] = "extra.site_instruction_detail_description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Latitude</ion-label>
        <ion-input placeholder="" [(ngModel)] = "extra.site_instruction_detail_lat"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Longitude</ion-label>
        <ion-input placeholder="" [(ngModel)] = "extra.site_instruction_detail_lng"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Date of Issue</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="extra.site_instruction_detail_dateOfIssue"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Effective Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="extra.site_instruction_detail_effectiveDate"></ion-datetime>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="nodeType == 'distance'">
    <h2 text-center>{{extra.nodeATitle}} - {{extra.nodeBTitle}}</h2>
    <ion-grid *ngIf="methods.length > 0">      
      <ion-row>
        <ion-col>#</ion-col>
        <ion-col text-center>Method</ion-col>
        <ion-col text-center>Distance</ion-col>
        <ion-col text-center>Action</ion-col>
      </ion-row>
      <ion-row *ngFor="let record of methods; let i = index">
        <ion-col>{{i+1}}</ion-col>
        <ion-col text-center>{{record.method}}</ion-col>
        <ion-col text-center>{{record.value}}</ion-col>
        <ion-col (click)="removeMethod(i)" text-center><ion-icon name="trash"></ion-icon></ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-item>
        <ion-label>Method</ion-label>
        <ion-select [(ngModel)]="method">
            <ion-option value="HDD">HDD</ion-option>
            <ion-option value="GV">GV</ion-option>
            <ion-option value="GI Riser">GI Riser</ion-option>
            <ion-option value="Pole">Pole</ion-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Distance (m)</ion-label>
        <ion-input placeholder="Text Input" [(ngModel)] = "distance"></ion-input>
      </ion-item>
      <ion-item text-right>
        <button ion-button type="button" (click)="addMethod()">Add Method</button>
      </ion-item>
    </ion-list>
  </div>
  <button ion-button type="button" (click)="save(extra.site_instruction_detail_type)">Save</button>
</ion-content>

