page-site-instruction {
    /* ion-item-sliding{
        background: -webkit-linear-gradient(-45deg,#4745fb 0,#54ebd9 118%);
        background-color: transparent;
        border: none;
        .item{
            background: transparent;
        }
    } */
}
