<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Site Instruction Form</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list  *ngIf="records?.length > 0">
    <ion-item-sliding #item *ngFor="let record of records">      
        <button ion-item  (click)='loadDetail(record)' >          
          <h2 align="left" text-wrap>{{record.site_instruction_form_title}}</h2>
          <p>{{record.site_instruction_form_description}}</p>
          <ion-icon *ngIf="record.workflowData != NULL && record.workflowData.final_approved == 0 && record.workflowData.wr_action_status == 'Approved'" color="completed1" name="checkmark-circle" item-right></ion-icon>
          <ion-icon *ngIf="record.workflowData != NULL && record.workflowData.final_approved == 1 && record.workflowData.wr_action_status == 'Approved'" color="secondary" name="checkmark-circle" item-right></ion-icon>
          <ion-icon *ngIf="record.workflowData != NULL && record.workflowData.wr_action_status == 'Rejected'" color="danger" name="close-circle" item-right></ion-icon>
          <ion-icon *ngIf="record.workflowData != NULL && record.workflowData.wr_action_status == null" color="completed1" name="time" item-right></ion-icon>
        </button>
        <ion-item-options side="right" (ionSwipe)="workflow(100,record.site_instruction_form_id)">
          <button ion-button color="primary" (click)='workflow(100,record.site_instruction_form_id)'><ion-icon name="clipboard"></ion-icon>Workflow</button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab bottom right #fab>
    <button ion-fab (click)="create();"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
