<ion-header>
    <ion-navbar>
      <button start ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-buttons class="bar-buttons" (click)="takePhoto(1)">
          <button icon-only color="dark" ion-button class="bar-button"><ion-icon style="font-size:20px;" name="camera"></ion-icon></button>
      </ion-buttons>
      <ion-buttons end class="bar-buttons" (click)="takePhoto(2)">
          <button icon-only color="dark" ion-button class="bar-button"><ion-icon style="font-size:20px;" name="camera"></ion-icon></button>
      </ion-buttons>
      <ion-buttons end class="bar-buttons" (click)="openFilter($event)">
          <button icon-only color="dark" ion-button class="bar-button"><ion-icon style="font-size:20px;" name="funnel"></ion-icon></button>
      </ion-buttons>    
    </ion-navbar>
    
    <ion-toolbar no-border-top *ngIf="izeBot">
      <ion-searchbar color="primary"
                      [(ngModel)]="question"
                      placeholder="Quick Query"
                      (keyup.enter) = "ask()"
                      >
      </ion-searchbar>
      <ion-buttons end class="bar-buttons" (click)="sendVoice()">
        <button icon-only color="dark" ion-button class="bar-button"><ion-icon style="font-size:20px;" name="mic"></ion-icon></button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment padding [(ngModel)]="actSegment" color="primary" >
      <ion-segment-button value="tasks">
        Tasks
      </ion-segment-button>
      <ion-segment-button value="events">
        Events
      </ion-segment-button>
      <ion-segment-button value="milestones">
        Milestones
      </ion-segment-button>
    </ion-segment>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list no-border class="placeHolderCont" *ngIf ="!myActivities?.length && !noRecord">
        <div>
          <button ion-item >      
            <ion-avatar item-start>
              &nbsp;
            </ion-avatar>
            <h2></h2>
            <p></p>
          </button>
        </div>
        <div>
          <button ion-item >      
            <ion-avatar item-start>
              &nbsp;
            </ion-avatar>
            <h2></h2>
            <p></p>
          </button>
        </div>
        <div>
          <button ion-item >      
            <ion-avatar item-start>
              &nbsp;
            </ion-avatar>
            <h2></h2>
            <p></p>
          </button>
        </div>
        <div>
          <button ion-item >      
            <ion-avatar item-start>
              &nbsp;
            </ion-avatar>
            <h2></h2>
            <p></p>
          </button>
        </div>
        <div>
          <button ion-item >      
            <ion-avatar item-start>
              &nbsp;
            </ion-avatar>
            <h2></h2>
            <p></p>
          </button>
        </div>
        <div>
          <button ion-item >      
            <ion-avatar item-start>
              &nbsp;
            </ion-avatar>
            <h2></h2>
            <p></p>
          </button>
        </div>
        <div>
          <button ion-item >      
            <ion-avatar item-start>
              &nbsp;
            </ion-avatar>
            <h2></h2>
            <p></p>
          </button>
        </div>
        <div>
          <button ion-item >      
            <ion-avatar item-start>
              &nbsp;
            </ion-avatar>
            <h2></h2>
            <p></p>
          </button>
        </div>
        <div>
          <button ion-item >      
            <ion-avatar item-start>
              &nbsp;
            </ion-avatar>
            <h2></h2>
            <p></p>
          </button>
        </div>
    </ion-list>
    <ion-list *ngIf = "noRecord">
      <ion-item>Ola ! You have no task.</ion-item>
    </ion-list>
    <ion-list  *ngIf="newTask">
      <div>
        <ion-item>      
          <ion-avatar item-start>
            <img src="http://cloud.izeberg.com/maxis_osp/themes/core/assets/images/default.jpeg">
          </ion-avatar>
          <ion-input (keyup.enter)="saveTask(actSegment)" [(ngModel)]="newTaskMsg"></ion-input>
        </ion-item>
      </div>
    </ion-list>
    <ion-list no-border *ngIf = "actSegment == 'tasks' && myActivities?.length" >
      <div *ngFor="let activity of myActivities">
        <button ion-item 
            *ngIf="(activity?.dueDays == botFilter || botFilter == 'myTask') && (activity.activity_type == 3 && (activity.progress_status == activityFilter || activityFilter == 3))" 
            (click)="openDetail(activity, activity.progress_status);"
            [attr.duedate]="getActivityDueDateCheck(activity)"
            >      
          <ion-avatar item-start *ngIf="getUserPic(activity.activity_assigned_to_id)">
            <img src="{{getUserPic(activity.activity_assigned_to_id)}}">
          </ion-avatar>
          <h2 [ngClass]="activity.progress_status == 2? 'lineThrough':''">{{activity?.activity_name}}</h2>
          <p>{{getAssignedName(activity.activity_assigned_to_id)}}</p>
        </button>
      </div>
  </ion-list>

  <ion-list no-border *ngIf = "actSegment == 'events' && myActivities?.length">
      <div *ngFor="let activity of myActivities">
        <button ion-item 
        *ngIf="(activity?.dueDays == botFilter || botFilter == 'myTask') && (activity.activity_type == 1 && (activity.progress_status == activityFilter || activityFilter == 3))" 
            (click)="openDetail(activity,activity.progress_status);"
            [ngClass] = "getActivityDueDateCheck(activity)"
            [attr.duedate]="getActivityDueDateCheck(activity)"
            >      
          <ion-avatar item-start *ngIf="getUserPic(activity.activity_assigned_to_id)">
            <img src="{{getUserPic(activity.activity_assigned_to_id)}}">
          </ion-avatar>
          <h2 [ngClass]="activity.progress_status == 2? 'lineThrough':''">{{activity?.activity_name}}</h2>
          <p>{{getAssignedName(activity.activity_assigned_to_id)}}</p>
        </button>
      </div>
  </ion-list>

  <ion-list no-border *ngIf = "actSegment == 'milestones' && myActivities?.length">
      <div *ngFor="let activity of myActivities">
        <button ion-item 
        *ngIf="(activity?.dueDays == botFilter || botFilter == 'myTask') && (activity.activity_type == 2 && (activity.progress_status == activityFilter || activityFilter == 3))" 
            (click)="openDetail(activity,activity.progress_status);"
            [ngClass] = "getActivityDueDateCheck(activity)"
            [attr.duedate]="getActivityDueDateCheck(activity)"
            >      
          <ion-avatar item-start *ngIf="getUserPic(activity.activity_assigned_to_id)">
            <img src="{{getUserPic(activity.activity_assigned_to_id)}}">
          </ion-avatar>
          <h2 [ngClass]="activity.progress_status == 2? 'lineThrough':''">{{activity?.activity_name}}</h2>
          <p>{{getAssignedName(activity.activity_assigned_to_id)}}</p>
        </button>
      </div>
  </ion-list>
  <ion-fab bottom right #fab>
    <button ion-fab><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="google" (click)="openSocial('Google+', fab)"><ion-icon name="logo-googleplus"></ion-icon></button>
      <button ion-fab color="twitter" (click)="openSocial('Twitter', fab)"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab color="facebook" (click)="openSocial('Facebook', fab)"><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab color="favorite" (click)="createTask();"><ion-icon name="md-checkbox-outline"></ion-icon></button>
      <button ion-fab color="vimeo" (click)="askIzeBot();"><ion-icon name="md-bulb"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
