$categories: (
    ionic: color($colors, primary),
    angular: #AC282B,
    communication: #8E8D93,
    tooling: #FE4C52,
    services: #FD8B2D,
    design: #FED035,
    workshop: #69BB7B,
    food: #3BC7C4,
    documentation: #B16BE3,
    navigation: #6600CC,
    priority-urgent: #f96868,
    priority-high: #f2a654,
    priority-ok: #009688,


);

@function auxiliary-categories() {
    @return map-remove($categories);
}

page-my-task {
    /* .segment-md-primary .segment-button{
        color: #c8c7cc;
    }
    .segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated{
        color: #fff;
        border-color: #fff;
    } */
    @each $track, $value in auxiliary-categories() {
        .item[duedate=#{$track}] ion-avatar{
            border-left: 2px solid $value;
            padding-left: 10px;
        }
    }
    
    @keyframes placeHolderShimmer{
        0%{
            background-position: -468px 0
        }
        100%{
            background-position: 468px 0
        }
    }
    .item{
        border-bottom: 0.55px solid #c8c7cc;
        .item-inner{
            border: none !important;
        }
        .lineThrough{
            text-decoration: line-through;
        }
    }
    .placeHolderCont{
        h2{
            width: 90%;
            height: 10px;
        }
        p{
            width: 90%;
            height: 20px;
        }
        ion-avatar{
            width: 10%; 
            height: 10%;
            border-radius: 30px;
        }
        h2,p,ion-avatar{
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-name: placeHolderShimmer;
            animation-timing-function: linear;
            background: #f6f7f8;
            background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
            background-size: 800px 104px;
            position: relative;
        }
    }
}
