
    <ion-list radio-group [(ngModel)]="izeBotShortCode" (ngModelChange)="applyCode()">
        <ion-list-header>
          Ask izeBot
        </ion-list-header>
        <!--<ion-item>-->
          <!--<ion-label>My Tasks</ion-label>-->
          <!--<ion-radio value="Show My task"></ion-radio>-->
        <!--</ion-item>-->

        <ion-item>
          <ion-label>Completed Task</ion-label>
          <ion-radio value="Show my Completed task"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Overdue Task</ion-label>
          <ion-radio value="Show my Overdue task"></ion-radio>
        </ion-item>
      </ion-list>
