// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}


// Name of the next breakpoint, or null for the last breakpoint.
//
//    >> breakpoint-next(sm)
//    md
//    >> breakpoint-next(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    md
//    >> breakpoint-next(sm, $breakpoint-names: (xs sm md lg xl))
//    md
@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}


// Maximum breakpoint width. Null for the largest (last) breakpoint.
// The maximum value is calculated as the minimum of the next one less 0.1.
//
//    >> breakpoint-max(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    767px
@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}


// Creates text alignment classes based on screen size
// TODO this would be nice to add to the framework
@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    // Provide text `[text-{bp}]` attributes for aligning text based on screen size
    [text#{$infix}-center] {
      text-align: center;
    }

    [text#{$infix}-left] {
      text-align: left;
    }

    [text#{$infix}-right] {
      text-align: right;
    }

    [hidden#{$infix}-up] {
      display: none;
    }
  }

  @include media-breakpoint-down($breakpoint, $grid-breakpoints) {
    [hidden#{$infix}-down] {
      display: none;
    }
  }
}
ion-backdrop{
  z-index: -1;
  visibility: visible !important;
}

ion-header ion-navbar{
  background: #fff !important;
  //background: -webkit-linear-gradient( color($colors, dark), color($colors, light)) !important; /* For Safari 5.1 to 6.0 */
  //background: -o-linear-gradient( color($colors, dark), color($colors, light)) !important; /* For Opera 11.1 to 12.0 */
  //background: -moz-linear-gradient( color($colors, dark), color($colors, light)) !important; /* For Firefox 3.6 to 15 */
  //background: linear-gradient( color($colors, dark), color($colors, light)) !important; /* Standard syntax */
}

ion-header ion-navbar .toolbar-background{
  //background: transparent !important;
}
/* .rewardPoints{
  .toast-wrapper{
      background-color: #fff;
      .toast-message{
        color: rgb(34, 39, 44);
      }
      .toast-button{
        color: #4a925a;
      }
  }
} */

.b-t{
  border-top:1px solid #000000;
}
