<ion-header>
  <ion-navbar>
    <ion-title>workflow</ion-title>
    <ion-buttons end>
        <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-list *ngIf="workdflowDetail?.length > 0">
        <div text-center class="circle btn-floating waves-effect waves-light white lighten-1 no-pointer">
            <div class="startcircle">{{workdflowDetail[0].completed_percentage}}%</div>
        </div>
        <ng-container *ngFor="let node of workdflowDetail; let i = index">
          
          <p class="connectLine">&nbsp;</p>
          <ion-card 
                class="siteInstructionNodes"
                *ngIf="node.status == 'Pending' || node.status == 'Approved' || node.status == 'Rejected'"
                >
                <!-- [ngClass]=" {'main': node.site_instruction_detail_type == 'main', 
                            'distance': node.site_instruction_detail_type == 'distance', 
                            'pole': node.site_instruction_detail_type == 'pole', 
                            'mh': node.site_instruction_detail_type == 'mh'}" --> 
              <ion-card-header>
                {{node.status == 'Pending'?node.status:node.name}}
                <ion-icon *ngIf="node.status == 'Pending'" color="completed1" name="time" item-right></ion-icon>
                 <ion-icon *ngIf="node.status == 'Approved'" color="secondary" name="checkmark-circle" item-right></ion-icon>
                 <ion-icon *ngIf="node.status == 'Rejected'" color="danger" name="close-circle" item-right></ion-icon>
                  <!-- <ion-icon *ngIf="node.status == 'Pending'" color="completed1" name="checkmark-circle" item-right></ion-icon> -->
                <p>{{node.details}}</p>
              </ion-card-header>
              <ion-list *ngIf="node.sequenceCheck == 1 && node.status == 'Pending' && isItMe(node.selectedUsersNames)">
                <ion-item>
                  <ion-textarea 
                        name="message"
                        [(ngModel)] = "approveMsg"
                        *ngIf="node.sequenceCheck == 1 && node.status == 'Pending' && isItMe(node.selectedUsersNames)"
                        placeholder="Type your comment here">
                  </ion-textarea>
                  
                  <!-- <p>{{node.site_instruction_detail_lat}} - {{node.site_instruction_detail_lng}}</p> -->
                </ion-item>
                <ion-list radio-group [(ngModel)]="approveType" *ngIf="node.status == 'Pending' && isItMe(node.selectedUsersNames)">
                  <ion-item>
                    <ion-label>Approve</ion-label>
                    <ion-radio value="Approved" color="secondary" name="getName(node.id,radio)"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Reject</ion-label>
                    <ion-radio value="Rejected" color="danger" name="getName(node.id,radio)"></ion-radio>
                  </ion-item>
                </ion-list> 
                <button ion-button full (click)="approve(node.responseID)"><ion-icon name="done-all">Submit</ion-icon></button>
              </ion-list>
              <ion-item>
                <ion-avatar item-start *ngFor="let user of node.selectedUsersNames">
                  <img src="{{user.user_display_pic}}">
                </ion-avatar>
              </ion-item>
              <ion-item>
                <p>{{node.title}}</p>
                <p>{{node.date}}</p>
              </ion-item>
            </ion-card>
            <ion-card 
            class="siteInstructionNodes wfStop"
            *ngIf="node.status == 'Stop'"
            >
            <ion-card-header>
              WORKFLOW STOPPED
            </ion-card-header>
          </ion-card>
        </ng-container>
        <p class="connectLine">&nbsp;</p>
        <div text-center class="circle btn-floating waves-effect waves-light white lighten-1 no-pointer no-margin-top">
          <div class="startcircleFull">
              <span class="startTimeline endTimeline"></span>
          </div>
        </div>
        <p padding>
          <button ion-button full (click)="discard()" color="danger"><ion-icon name="done-all">Discard Workflow</ion-icon></button>
        </p>
      </ion-list>
    </ion-content>
    