<ion-header no-border>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-1.png" class="slide-image"/>
      <h2 class="slide-title">
        Welcome to <img src="assets/img/izeberg-logo-pyramid-30.png" style="margin:0 0 -3px;" class="slide-image"/> <b>izeberg</b>
      </h2>
      <p>
        <b>Break the Norm</b> and create an awesome workplace. Get ready to be <b>hooked!</b> Plan, Visualize your Projects &amp; Tasks - to get things done
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-2.png" class="slide-image"/>
      <h2 class="slide-title" >What is <img src="assets/img/izeberg-logo-pyramid-30.png" style="margin:0 0 -3px;" class="slide-image"/> izeberg?</h2>
      <p>It is a tool to help you <b>simplify &amp; de-clutter your work.</b> It lets manage your projects with ease so that you don't have to crack your heads. Anyone &amp; everyone can use it</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-3.png" class="slide-image"/>
      <h2 class="slide-title">What is <img src="assets/img/izeberg-logo-pyramid-30.png" style="margin:0 0 -3px;" class="slide-image"/> izeberg enterprise?</h2>
      <p><b>Who says work can’t be fun?</b> Connect on one platform &amp; explore different ways to organize your work. Don't let the serious mindset hinder your awesome ideas</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image"/>
      <h2 class="slide-title">Ready to Play?</h2>
      <button ion-button icon-end large clear (click)="startApp()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>
