<ion-header>
    <ion-navbar>
      <ion-title>Create Project</ion-title>
      <ion-buttons end>
        <button ion-button (click)="closeModal()">Close</button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    <form #f="ngForm" id="customForm" name="customForm" (ngSubmit)="createProject(f.value)">
      <ion-list *ngIf="moduleAttributesList">
          <ion-item>
            <ion-label color="primary" floating>Name <span>*</span></ion-label>
            <ion-input type="text" id="project_name" name="project_name" [(ngModel)]="project_name" ></ion-input>
          </ion-item>
          <ion-item>
            <!-- <ion-label color="primary" floating>Overview <span>*</span></ion-label>
            <ion-input type="text" id="project_overview" name="project_overview" [(ngModel)]="project_overview" ></ion-input> -->
            <ion-textarea placeholder="Overview" id="project_overview"  name="project_overview" [(ngModel)]="project_overview"></ion-textarea>
          </ion-item>
        <div *ngFor="let elm of moduleAttributesList">
          <!-- text input -->  
          <ion-item *ngIf="elm?.type == 'text'">
            <ion-label color="primary" floating>{{elm?.label}} <span *ngIf="elm?.required == 1">*</span></ion-label>
            <ion-input type="text" id="{{elm.attrKey}}" name="{{elm.attrKey}}" [(ngModel)]="elm.model" ></ion-input>
          </ion-item>
          
          <!-- Date Picker -->
          <ion-item *ngIf="elm?.type == 'date'">
            <ion-label color="primary" floating>{{elm?.label}} <span *ngIf="elm?.required == 1">*</span></ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" value="20/03/2018"  id="{{elm.attrKey}}" name="{{elm.attrKey}}" [(ngModel)]="elm.model" ></ion-datetime>
          </ion-item>

          <!-- Textarea -->
          <ion-item *ngIf="elm?.type == 'textarea'">
              <ion-textarea placeholder="{{elm?.label}}" id="{{elm.attrKey}}"  name="{{elm.attrKey}}" [(ngModel)]="elm.model"></ion-textarea>
          </ion-item>
          
          <!-- Dropdown -->
          <ion-item *ngIf="elm?.type == 'dropdown'">
              <ion-label color="primary" floating>{{elm?.label}} <span *ngIf="elm?.required == 1">*</span></ion-label>
              <ion-select id="{{elm.attrKey}}" name="{{elm.attrKey}}" [(ngModel)]="elm.model">
                <ion-option  *ngFor="let elmData of elm.data" value="{{elmData.key}}">{{elmData.value}}</ion-option>
              </ion-select>
          </ion-item>
          
          <!-- Image Upload -->
          <ion-card *ngIf="elm?.type == 'fileUpload' && elm.model">
            <img [src]="pathForImage(elm.model)"/>
            <div class="card-title">hello</div>
            <div class="card-subtitle">{{pathForImage(elm.model)}}</div>
          </ion-card>
          <ion-item class="camCapture" *ngIf="elm?.type == 'fileUpload'" text-center>
              <button type="button" ion-button item-end (click)="cameraImage(elm.attrKey,elm)" class="camBtn"><ion-icon name="camera"></ion-icon></button>
              <input type="hidden" id="{{elm.attrKey}}" name="{{elm.attrKey}}" [(ngModel)]="elm.model" />
              <div>hello-{{elm.model}}</div>
          </ion-item>
        </div>
        <div class="row">
          <div class="col" text-left>
            <button ion-button type="submit" text-ceter>Create</button>
          </div>
          <!-- <div class="col" text-center>
            <button type="button" ion-button color="danger" type="submit" (click)="closeModal();">Cancel</button>
          </div> -->
        </div>
      </ion-list>  
    </form>
  </ion-content>
  