<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{viewTitle}}</ion-title>
      <!-- <ion-buttons end>
          <button ion-button [disabled]="isToday" (click)="today()">Today</button>
          <button ion-button (click)="changeMode('month')">M</button>
          <button ion-button (click)="changeMode('week')">W</button>
          <button ion-button (click)="changeMode('day')">D</button>
      </ion-buttons> -->
    </ion-navbar>
  </ion-header>


<ion-content>
    <ion-fab right top edge>
      <button ion-fab mini color="danger"><ion-icon name="add"></ion-icon></button>
      <ion-fab-list>
        <button ion-fab [disabled]="isToday" (click)="today()" color="light">T</button>
        <button ion-fab (click)="changeMode('month')" color="secondary">M</button>
        <button ion-fab (click)="changeMode('week')" color="warning">W</button>
      </ion-fab-list>
    </ion-fab>
    <calendar [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      (onCurrentDateChanged)="onCurrentDateChanged($event)"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      step="30">
  </calendar>
  <!-- <ion-list *ngIf="eventSource">
    <ion-item *ngFor="let event of eventSource">
      <h5>{{event.startTime}}</h5>
      <h5>{{event.endTime}}</h5>
    </ion-item>
  </ion-list> -->
</ion-content>
