page-site-instruction-detail {
    .main{
        background-color: #3a8fc8 !important;
        ion-label p,ion-label h2{
            color: #ffffff !important;
        }
    }

    .mh{
        background-color: #42bac7 !important;
        ion-label p,ion-label h2{
            color: #ffffff !important;
        }
    }

    .pole{
        background-color: #0084ff !important; 
        color: #ffffff;
        ion-card-header,ion-icon,ion-label{
            color:#ffffff !important;
        }

        ion-label p,ion-label h2{
            color:#fefefe !important;
        }
    }

    .distance{
        background-color: #3b4752 !important; 
        color: #ffffff;
        ion-card-header,ion-icon,ion-label,ion-label h2{
            color:#ffffff;
        }
    }
    .distance-new{
        background-color: orange !important; 
        color: #fff !important;
        ion-card-header,ion-icon,ion-label,ion-label h2{
            color:#ffffff;
        }
    }
    .connectLine{
        border-right: 1px solid #ddd;
        height: 40px;
        width: 50%;
        margin: 0;
    }
    ion-card{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        ion-item{
            background-color: transparent !important;
        }
    }

    .addNode{
        margin: 0;
        margin-left: 50%;
        left: -13px;
        position: relative;
        font-size: 25px;
        padding: 0;
        color: #ccc;
    }
    .btn-floating{
        display: inline-block;
        color: #fff;
        position: relative;
        overflow: hidden;
        z-index: 1;
        width: 30px;
        height: 30px;
        line-height: 30px;
        padding: 0;
        border-radius: 10%;
        transition: .3s;
        cursor: pointer;
        vertical-align: middle;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        background-color: #fff !important;
        margin-top: 10px;
        margin-left: 50%;
        left: -15px;
        .startcircle {
            height: 25px;
            width: 25px;
            border: #009688 2px solid;
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}
