<!--
  Generated template for the SiteInstructionDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{record.site_instruction_form_title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <p padding>{{record.site_instruction_form_description}}</p>
  <ion-list *ngIf="formNodes?.length > 0">
    <div text-center class="circle btn-floating waves-effect waves-light white lighten-1 no-pointer">
      <div class="startcircle"></div>
    </div>
    <ng-container *ngFor="let node of formNodes; let i = index">
      <p *ngIf="i > 0 && !formSubmitted" class="connectLine">&nbsp;</p>
      <button *ngIf="i && !formSubmitted" class="addNode" (click)="presentActionSheet(i)">
        <ion-icon name="md-add-circle"></ion-icon>
      </button>
      <p class="connectLine">&nbsp;</p>
      <ion-card class="siteInstructionNodes" [ngClass]="{'main': node.site_instruction_detail_type == 'main',
       'distance': node.site_instruction_detail_type == 'distance',
       'distance-new': node.site_instruction_detail_new == 1 ,
       'pole': node.site_instruction_detail_type == 'pole' ,
       'mh': node.site_instruction_detail_type == 'mh'}">
        <ion-card-header>
          {{node.site_instruction_detail_title}}
        </ion-card-header>
        <ion-item *ngIf="node.site_instruction_detail_type != 'distance'">
          <ion-icon name="ios-disc-outline" item-start large *ngIf="node.site_instruction_detail_type == 'mh'">
          </ion-icon>
          <ion-icon name="arrow-round-up" item-start large *ngIf="node.site_instruction_detail_type == 'pole'">
          </ion-icon>
          <h2>{{node.site_instruction_detail_code}}</h2>
          <p>{{node.site_instruction_detail_lat}} - {{node.site_instruction_detail_lng}}</p>
        </ion-item>
        <ng-container *ngIf="node.site_instruction_detail_type == 'distance'">
          <ion-item *ngFor="let method of getMethods(node.site_instruction_detail_distances)">
            <ion-icon name="resize" item-start large></ion-icon>
            <h2>{{method.method}}</h2>
            <p>{{method.value}} m</p>
          </ion-item>
        </ng-container>
      </ion-card>
    </ng-container>
  </ion-list>
  <button *ngIf="formNodes?.length > 0 && !formSubmitted" ion-button type="button" (click)="submit()">Submit for Approval</button>
  <!-- <button *ngIf="formNodes?.length > 0" ion-button type="button" (click)="revert()">Revert Changes</button> -->
  <ion-list *ngIf="formNodes?.length == 0">
    <ion-item>
      No Technical Proposal found
    </ion-item>
  </ion-list>
</ion-content>