page-projects {
    ion-grid{
        height: 100%;
        margin: 0px;
        padding: 0px !important;
        .hdr-dash{
            height: 15%;
            ion-col{
                text-align: center;
                justify-content: center;
                border: 1px solid #000000;
                padding:3px;
                ion-col{
                    border:0;
                }
                align-content: center;
                .dashIcon:before{
                    font-size: 30px;
                    font-weight: bold;                
                }
                .dashCount{
                    font-size: 26px;
                }
                p{
                    margin: 0;
                }
            }
        }
        .body-dash{
            height: 85%;
            ion-list{
                width:100% !important;
            }
        }
    }
}
