<ion-header>
  <ion-navbar hideWhen="landscape">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Projects</ion-title>
    <!-- <ion-buttons end class="bar-buttons" (click)="createProject()">
        <button icon-only color="dark" ion-button class="bar-button"><ion-icon style="font-size:20px;" name="ios-add-circle-outline"></ion-icon></button>
    </ion-buttons> -->
    <!-- <ion-buttons end class="bar-buttons" (click)="updateLocal()">
      <button icon-only color="dark" ion-button class="bar-button"><ion-icon style="font-size:20px;" name="ios-add-circle-outline"></ion-icon></button>
    </ion-buttons> -->

    <!-- <ion-buttons end class="bar-buttons" (click)="takePhoto()">
      <button icon-only color="dark" ion-button class="bar-button"><ion-icon style="font-size:20px;" name="ios-add-circle-outline"></ion-icon></button>
    </ion-buttons>
    <ion-buttons end class="bar-buttons" (click)="createProject()">
        <button icon-only color="dark" ion-button class="bar-button"><ion-icon style="font-size:20px;" name="ios-add-circle-outline"></ion-icon></button>
    </ion-buttons> -->
  </ion-navbar>
  <ion-toolbar no-border-top *ngIf="izeBot">
    <ion-searchbar color="primary" [(ngModel)]="question" placeholder="Quick Query" (keyup.enter)="ask()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- <ion-item *ngFor="let elm of image, let i = index">
        <ion-label color="primary">{{elm.name}} - {{elm.model}}</ion-label>
        <button ion-button item-end outline (click)="takePhoto(i)"><ion-icon name="camera"></ion-icon></button>
        <ion-input type="hidden" id="{{elm.model}}" name="{{elm.model}}" [(ngModel)]="elm.model"></ion-input>
        <img [src] = "pathForImage(lastImage)" *ngIf="elm.model">
    </ion-item>
    <button ion-button icon-left (click)="uploadAll()">
      <ion-icon name="cloud-upload"></ion-icon>Upload
    </button> -->
  <!-- <ion-list *ngIf = "answer">
    <ion-item>
        {{answer}}  
    </ion-item>    
  </ion-list> -->
  <!-- <ion-refresher (ionRefresh)="doRefreshProject($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <ion-grid>
    <!-- <ion-row class="hdr-dash" justify-content-center align-items-center>
      <ion-col>
        <ion-row>
            <ion-col>
              <ion-icon class="dashIcon" name="checkmark"></ion-icon>
            </ion-col>
            <ion-col class="dashCount">
              03
            </ion-col>
        </ion-row>
        <p>Completed</p>
      </ion-col>
      <ion-col>
        <ion-row>
            <ion-col>
              <ion-icon class="dashIcon" name="refresh"></ion-icon>
            </ion-col>
            <ion-col class="dashCount">
              04
            </ion-col>
        </ion-row>
        <p>On Going</p>
      </ion-col>
      <ion-col>
        <ion-row>
            <ion-col>
              <ion-icon class="dashIcon" name="md-calendar"></ion-icon>
            </ion-col>
            <ion-col class="dashCount">
              01
            </ion-col>
        </ion-row>
        <p>Not Started</p>
      </ion-col>
    </ion-row> -->
    <ion-row class="body-dash">
      <ion-list *ngIf="projects?.length > 0">
        <ion-item-sliding #item *ngFor="let project of projects">
            <button ion-item (click)='loadProject(project.project_id,project.project_name)'
            [ngStyle]="project.project_status == 'completed' && {'background-color' : 'lightgreen'}">
              <h2 align="left">{{project.project_name}}</h2>
              <p align="left" text-wrap *ngIf="project.project_start_date">{{project.project_start_date}} - {{project.project_end_date}}</p>
              <ion-grid>
                <ion-row>
                  <ion-col col-4>
                    <button ion-button icon-left clear small>
                      <ion-icon name="clipboard"></ion-icon>
                      <div>{{project.activities[3]}} T</div>
                    </button>
                  </ion-col>
                  <ion-col col-4>
                    <button ion-button icon-left clear small>
                      <ion-icon name="flag"></ion-icon>
                      <div>{{project.activities[2]}} M</div>
                    </button>
                  </ion-col>
                  <ion-col col-4>
                    <button ion-button icon-left clear small>
                      <ion-icon name="calendar"></ion-icon>
                      <div>{{project.activities[1]}} E</div>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <!-- <ion-grid>
                  <ion-row class="b-t">
                    <ion-col col-12>
                      Last Update: 13.10.2017
                    </ion-col>
                  </ion-row>
              </ion-grid> -->
            </button>
            <ion-item-options side="left">
              <button ion-button color="primary" (click)='uploadTp(project.project_id)'>
                <ion-icon name="cloud-upload"></ion-icon>Upload TP</button>
            </ion-item-options>
            <!-- <ion-item-options side="right" (ionSwipe)="showProjectDetail(project)">
              <button ion-button color="dark" (click)='showProjectDetail(project)'><ion-icon name="eye"></ion-icon>Detail</button>
            </ion-item-options> -->
            <ion-item-options side="right">
              <button ion-button color="light" (click)='showProjectDetail(project)'>
                <ion-icon name="eye"></ion-icon>Detail</button>
              <button ion-button color="dark" (click)='showE2E(project)'>
                <ion-icon name="archive"></ion-icon>E2E</button>
            </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-row>
  </ion-grid>

  <ion-fab bottom right #fab>
    <button ion-fab (click)="createProject()">
      <ion-icon name="add"></ion-icon>
    </button>
    <!-- <button ion-fab><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="google" (click)="openSocial('Google+', fab)"><ion-icon name="logo-googleplus"></ion-icon></button>
      <button ion-fab color="twitter" (click)="openSocial('Twitter', fab)"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab color="facebook" (click)="openSocial('Facebook', fab)"><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab color="favorite"><ion-icon name="md-checkbox-outline"></ion-icon></button>
      <button ion-fab color="vimeo" (click)="askIzeBot();"><ion-icon name="md-bulb"></ion-icon></button>
    </ion-fab-list> -->
  </ion-fab>
</ion-content>