<ion-header>
  <ion-navbar>
    <ion-title>{{project_name}}</ion-title>
    <ion-buttons end class="bar-buttons" (click)="openFilter($event)">
      <button icon-only color="dark" ion-button class="bar-button">
        <ion-icon style="font-size:20px;" name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment [class.floatTopMap]="actSegment == 'Map'" padding [(ngModel)]="actSegment" color="primary"
               (ionChange)="segmentChanged($event)">
    <ion-segment-button value="structure">
      Structure
    </ion-segment-button>
    <ion-segment-button value="Graph">
      GRAPH
    </ion-segment-button>
    <ion-segment-button value="SLD">
      SLD
    </ion-segment-button>
    <ion-segment-button value="Map">
      Map
    </ion-segment-button>
    <ion-segment-button value="DC">
      DC
    </ion-segment-button>
    <ion-segment-button value="EOT">
      EOT
    </ion-segment-button>
  </ion-segment>

  <ion-list no-border *ngIf="actSegment == 'structure'">
    <div *ngFor="let activity of projectActivities">
      <button ion-item *ngIf="activity.activity_type == 4" (click)="openDetail(activity, activity.progress_status);"
              [attr.duedate]="getActivityDueDateCheck(activity)">
        <!-- <ion-avatar item-start *ngIf="getUserPic(activity.activity_assigned_to_id)">
            <img src="{{getUserPic(activity.activity_assigned_to_id)}}">
          </ion-avatar> -->
        <h2 [ngClass]="activity.progress_status == 2? 'lineThrough':''">{{activity?.activity_name}}</h2>
        <p>{{getAssignedName(activity.activity_assigned_to_id)}}</p>
      </button>
    </div>
  </ion-list>

  <ion-grid *ngIf="actSegment == 'Graph'">
    <ion-row *ngIf="showCivil">
      <ion-col col-2></ion-col>
      <ion-col col-8 text-center>
        <h1>Civil Progress Summary</h1>
        <div style="display: block">
          <canvas *ngIf="doughnutChartData?.length > 0" baseChart id="doughnut-1" [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType" [options]="doughnutChartOptions"></canvas>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showCable">
      <ion-col col-2></ion-col>
      <ion-col col-8 text-center>
        <h1>Cable Progress Summary</h1>
        <div style="display: block">
          <canvas *ngIf="cableDoughnutChartData?.length > 0" baseChart id="cableDoughnut-1"
                  [data]="cableDoughnutChartData" [labels]="cableDoughnutChartLabels"
                  [chartType]="cableDoughnutChartType" [options]="cableDoughnutChartOptions"></canvas>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 text-center>
        <h1>Civil Progress</h1>
        <div style="display: block" *ngIf="civilChartData !== undefined">
          <canvas baseChart [datasets]="civilChartData" [labels]="civilChartLabels" [options]="civilChartOptions"
                  [legend]="civilChartLegend" [chartType]="civilChartType"></canvas>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="text-align:center">
      <ion-col col-6 text-center>
        <h2>Total EOT : {{totalEOT}}</h2>
      </ion-col>
      <ion-col col-6 text-center>
        <h2>Total SI : {{totalSI}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-border *ngIf="actSegment == 'SLD'">
    <div *ngIf="SLD_total_range_loading">
      loading ...
    </div>
    <div *ngIf="!SLD_total_range_loading">
      <ion-row *ngFor="let SLD_LOOP of SLD_total_range">
        <ion-col>
          <!-- <div class="cableID">
            <span>PECH0011144t02</span>
          </div> -->
          <ul class="XXXtimeline" id="XXXtimeline" *ngFor="let item of SLD_LOOP">
            <li class="li complete" *ngIf="item.site_instruction_detail_type !== 'distance'">
              <div class="timestamp">
                <span class="author" style="height: 100px;">
                  <span style="position: absolute;top: -45px;left: 10px;font-weight: 500;">
                    {{item.site_instruction_detail_title}}
                    <i *ngIf="item.site_instruction_detail_code">- {{item.site_instruction_detail_code}}</i>
                  </span>
                  <i style="position: absolute; top: -22px; left: 10px;">N{{item.site_instruction_detail_lat}}/E{{item.site_instruction_detail_lng}}</i>
                </span>
              </div>
              <div class="status"></div>
            </li>
            <li class="li li_distance complete" *ngIf="item.site_instruction_detail_type == 'distance'">
              <ul style="list-style: none; position: absolute; padding: 0px; margin: 0px;">
                <i style="font-size : 10px;position: absolute; top: 15px; left: -171px;">Cable Distance:
                  {{item.site_instruction_detail_cable_distances}} m</i>
                <li style="width: 90px; margin-left: -25px; margin-top: -10px; margin-bottom: 7px; font-size : 10px"
                    *ngFor="let d of item.site_instruction_detail_distances">
                  <i>{{ d.method }}</i> :
                  <i>{{ d.value }} m </i>
                </li>
              </ul>
              <div class="statusD">
              </div>
              <!--<i style="font-size : 10px;position: absolute; top: 37px; left: -171px;">Cable Dis__: {{item.site_instruction_detail_cable_distances}} m</i>-->
            </li>
          </ul>

          <div style="clear: both"></div>

          <ul class="YYYtimeline" id="YYYtimeline" *ngFor="let item of SLD_LOOP">
            <li class="li complete" *ngIf="item.site_instruction_detail_type !== 'distance'">
              <div *ngIf="setActualSLDByActivityID(item.site_instruction_detail_id)">
                <div class="timestamp">
                  <!-- <span class="author">{{ item.site_instruction_detail_title }}</span> -->
                  <div *ngIf="getActualSLDByActivityID(item.site_instruction_detail_id)">
                    <span class="author" style="height: 100px;">
                      <span style="position: absolute;top: -40px;left: 25px;font-weight: 500;">
                        {{item.site_instruction_detail_title}}
                        <i *ngIf="item.site_instruction_detail_code">- {{item.site_instruction_detail_code}}</i>
                      </span>
                      <i style="position: absolute; top: -17px; left: 20px; font-size :10px"
                         *ngIf="activeSLDData.location">{{activeSLDData.location.pointA}}</i>
                      <i
                        style="position: absolute;bottom: -17px;font-size: 10px; right: 113px;font-weight: 600;color: gray;"
                        *ngIf="activeSLD.Coil">Coil: {{activeSLD.Coil}} m</i>
                      <i
                        style="position: absolute;bottom: -17px;font-size: 10px; right: 19px;font-weight: 600;color: lightseagreen;"
                        *ngIf="activeSLD.JointA">Joint: {{activeSLD.JointA}}</i>
                      <i
                        style="position: absolute;bottom: -8px;font-size: 10px; right: -0px;font-weight: 600;color: lightseagreen;"
                        *ngIf="activeSLD.JointB && $index != 4">Joint: {{activeSLD.JointB}} m</i>
                      <i
                        style="position: absolute;bottom: -8px;font-size: 10px;left: -0px;font-weight: 600;color: lightseagreen;"
                        *ngIf="activeSLD.JointB && $index == 4">Joint: {{activeSLD.JointB}} m</i>
                    </span>
                  </div>

                </div>
                <div class="status completeStatus"></div>
              </div>
              <div [hidden]="activeSLD">
                <div class="timestamp">
                  <span class="author">{{ item.site_instruction_detail_title }} <i
                    *ngIf="item.site_instruction_detail_code">- {{item.site_instruction_detail_code}} </i></span>
                </div>
                <div class="status completeNot"></div>
              </div>
            </li>
            <li class="li li_distance complete" *ngIf="item.site_instruction_detail_type == 'distance'">
              <ul *ngIf="activeSLD" style="list-style: none; position: absolute; padding: 0px; margin: 0px;top: -22px;">
                <i style="font-size : 10px;position: absolute; top: 37px; left: -171px;">Cable Distance:
                  {{activeSLD.cable_distances}} m</i>
                <div *ngFor="let method of activeSLD.distances">
                  <li *ngIf="method.value != '0'"
                      style="width: 80px; margin-left: -42px; margin-top: -10px; margin-bottom: 7px; font-size : 10px">
                    <i>{{method.name}}</i> : <i>{{method.value}} m </i>
                  </li>
                </div>
                <!--<li style="width: 80px; margin-left: -42px; margin-top: -10px; margin-bottom: 7px; font-size : 10px">-->
                <!--<i>GV</i> :-->
                <!--<i>{{ activeSLD.GV }} m </i>-->
                <!--</li>-->
                <!--<li style="width: 80px; margin-left: -42px; margin-top: -10px; margin-bottom: 7px; font-size : 10px">-->
                <!--<i>CW</i> :-->
                <!--<i>{{ activeSLD.CW }} m </i>-->
                <!--</li>-->
                <!--<li style="width: 80px; margin-left: -42px; margin-top: -10px; margin-bottom: 7px; font-size : 10px">-->
                <!--<i> HDD</i> :-->
                <!--<i>{{ activeSLD.HDD }} m </i>-->
                <!--</li>-->
              </ul>
              <div class="statusD"></div>
            </li>
          </ul>
          <div style="clear: both"></div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <div #map id="map" *ngIf="actSegment == 'Map'"></div>

  <ion-list no-border *ngIf="actSegment == 'DC'">
    <style>
      .input-group label {
        top: 10px;
      }
    </style>
    <!--Form Code STarts Here-->
    <form #f="ngForm" id="customForm" name="customForm" (ngSubmit)="createDC(f.value)">
      <ion-list radio-group [(ngModel)]="deliverableChecklist.etp_radio" [ngModelOptions]="{standalone: true}">
        <ion-item>
          ETP Permit Required
        </ion-item>
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio value="yes" color="secondary" name="etp_radio"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio value="no" color="danger" name="etp_radio"></ion-radio>
        </ion-item>
        <ion-item *ngIf="deliverableChecklist.etp_radio == 'no'">
          <ion-label>Remarks</ion-label>
          <ion-textarea name="etp_no_permit_remarks" [(ngModel)]="deliverableChecklist.etp_no_permit_remarks"
                        placeholder="">
          </ion-textarea>
        </ion-item>
        <!-- Date Picker -->
        <ion-item *ngIf="deliverableChecklist.etp_radio == 'yes'">
          <ion-label color="primary" floating>Permit Application Date (ETP)</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" value="00/00/0000" id="etp_permit_application_date"
                        name="etp_permit_application_date"
                        [(ngModel)]="deliverableChecklist.etp_permit_application_date">
          </ion-datetime>
        </ion-item>
        <ion-item *ngIf="deliverableChecklist.etp_radio == 'yes'">
          <ion-label color="primary" floating>Permit Approval Date (ETP)</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" value="00-00-0000" id="etp_permit_approval_date"
                        name="etp_permit_approval_date"
                        [(ngModel)]="deliverableChecklist.etp_permit_approval_date">
          </ion-datetime>
        </ion-item>
      </ion-list>
      <ion-list radio-group [(ngModel)]="deliverableChecklist.itp_radio" [ngModelOptions]="{standalone: true}">
        <ion-item>
          ITP Permit Required
        </ion-item>
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio value="yes" color="secondary" name="itp_radio"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio value="no" color="danger" name="itp_radio"></ion-radio>
        </ion-item>
        <ion-item *ngIf="deliverableChecklist.itp_radio == 'no'">
          <ion-label>Remarks</ion-label>
          <ion-textarea name="itp_no_permit_remarks" [(ngModel)]="deliverableChecklist.itp_no_permit_remarks"
                        placeholder="">
          </ion-textarea>
        </ion-item>
        <!-- Date Picker -->
        <ion-item *ngIf="deliverableChecklist.itp_radio == 'yes'">
          <ion-label color="primary" floating>Permit Application Date (ITP)</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" value="00/00/0000" id="itp_permit_application_date"
                        name="itp_permit_application_date"
                        [(ngModel)]="deliverableChecklist.itp_permit_application_date">
          </ion-datetime>
        </ion-item>
        <ion-item *ngIf="deliverableChecklist.itp_radio == 'yes'">
          <ion-label color="primary" floating>Permit Approval Date (ITP)</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" value="00/00/0000" id="itp_permit_approval_date"
                        name="itp_permit_approval_date"
                        [(ngModel)]="deliverableChecklist.itp_permit_approval_date">
          </ion-datetime>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label color="primary" floating>Work Start Date</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" value="00/00/0000" id="deliverables_work_start_date"
                        name="deliverables_work_start_date"
                        [(ngModel)]="deliverableChecklist.deliverables_work_start_date">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>E2E Date</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" value="00/00/0000" id="deliverables_e2e_date"
                        name="deliverables_e2e_date" [(ngModel)]="deliverableChecklist.deliverables_e2e_date">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>Joint Site Acceptance Date</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" value="00/00/0000" id="deliverables_joint_site_acceptance_date"
                        name="deliverables_joint_site_acceptance_date"
                        [(ngModel)]="deliverableChecklist.deliverables_joint_site_acceptance_date">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>Submission Final Doc + H/O Doc Date</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" value="00/00/0000" id="deliverables_submission_date"
                        name="deliverables_submission_date"
                        [(ngModel)]="deliverableChecklist.deliverables_submission_date">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>NCR Upload Date</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" value="00/00/0000" id="deliverables_ncr_upload_date"
                        name="deliverables_ncr_upload_date"
                        [(ngModel)]="deliverableChecklist.deliverables_ncr_upload_date">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>CPC Date</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" value="00-00-0000" id="deliverables_cpc_date"
                        name="deliverables_cpc_date" [(ngModel)]="deliverableChecklist.deliverables_cpc_date">
          </ion-datetime>
        </ion-item>
      </ion-list>
      <button *ngIf="deliverableChecklist" ion-button type="submit" text-ceter>Save</button>
    </form>
  </ion-list>

  <ion-list no-border *ngIf="actSegment == 'EOT'">
    <ion-grid>
      <ion-row>
        <ion-col col-2>
          <b>EOT title</b>
        </ion-col>
        <ion-col col-3>
          <b>Requested End Date</b>
        </ion-col>
        <ion-col col-3>
          <b>Previous End Date</b>
        </ion-col>
        <ion-col col-4>
          <b>EOT Approved Date</b>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let eot of eotDetail">
        <ion-col col-2>
          {{eot.eot_title}}
        </ion-col>
        <ion-col col-3>
          {{eot.project_eot_new_value}}
        </ion-col>
        <ion-col col-3>
          {{eot.project_eot_old_value}}
        </ion-col>
        <ion-col col-4>
          {{dateFormat(eot.project_eot_date,"DD-MM-YYYY HH:mm")}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
