page-manhole-detail {
    #map { width: 100%; height: 100%; z-index: 10; }
    .floatTopMap{ position: absolute; z-index: 14;
        ion-segment-button{  background-color: #ffffff !important; color: black !important; }
        .segment-activated{ background-color: #488aff !important; color: #ffffff !important; }
    }
    .XXXtimeline,.YYYtimeline 
    { list-style-type: none; align-items: center; justify-content: center; }

    #XXXtimeline .li,#YYYtimeline .li 
    { transition: all 200ms ease-in; float: left; width: 180px; margin: 20px 0px; padding: 0px; position: relative; }

    #XXXtimeline .li.li_distance,#YYYtimeline .li.li_distance 
    { width: 0px; height: 30px; }

    #XXXtimeline .timestamp,#YYYtimeline .timestamp 
    { margin-bottom: 20px; padding: 10px 40px; display: flex; flex-direction: column; align-items: center; font-weight: 100; position: relative; max-height: 20px; font-size: 11px; }

    #XXXtimeline .status 
    { border-top: 2px solid grey; margin-top: 20px; position: absolute; width: 180px; bottom: 0; }

    #YYYtimeline .status 
    { border-top: 2px solid green; margin-top: 20px; position: absolute; width: 180px; bottom: 0; }

    #XXXtimeline .status h4,#YYYtimeline .status h4 
    { font-weight: 600; }
                                                    
    #XXXtimeline .status:before,#YYYtimeline .status:before 
    { content: ""; width: 15px; height: 15px; background-color: white; border-radius: 0px; border: 1px solid #ddd; position: absolute; top: -8px; left: 42%; transition: all 200ms ease-in; }

    #XXXtimeline .statusD,#YYYtimeline .statusD { position: absolute; bottom: 0; }

    #XXXtimeline .statusD h4,#YYYtimeline .statusD h4 { font-weight: 600; }

    #XXXtimeline .statusD:before,#YYYtimeline .statusD:before 
    { content: ""; width: 2px; height: 25px; background-color: white; border-radius: 25px; border: 1px solid #ddd; position: absolute; top: -15px; left: 42%; transition: all 200ms ease-in; }

    #XXXtimeline .li.complete .status,#YYYtimeline .li.complete .status 
    { border-top: 2px solid gray; }

    #XXXtimeline .li.complete .status:before,#YYYtimeline .li.complete .status:before 
    { background-color: gray; border: none; transition: all 200ms ease-in; }

    #XXXtimeline .li.complete .status h4,#YYYtimeline .li.complete .status h4 
    { color: #66DC71; }

    #YYYtimeline .li.complete .status 
    { border-top: 2px solid green; }

    #YYYtimeline .li.complete .status:before 
    { background-color: green; border: none; transition: all 200ms ease-in; }

    #YYYtimeline .li.complete .status h4 
    { color: #66DC71; }

    #YYYtimeline .status.completeStatus:before 
    { background-color: green !important; border: none; transition: all 200ms ease-in; }

    #YYYtimeline .status.completeNot:before 
    { background-color: blue !important; border: none; transition: all 200ms ease-in; }

    #YYYtimeline .status.completeStatus
    { border-top: 2px solid green !important; }

    #YYYtimeline .status.completeNot
    { border-top: 2px solid blue !important; }

    .cableID 
    { position: relative; background-color: red; height: 2px; margin: 0px 38px; margin-top: 30px; width : 485px}

    .cableID span { position: absolute; left: 42%; top: -20px; }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 15px;
    }
}


