<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <div padding-top text-center *ngIf="userInfo">
    <img src="{{userInfo.user_display_pic}}" alt="avatar">
    <!--<img src="{{userInfo.user_display_pic}}" alt="avatar">-->
    <h2>{{userInfo.user_name}}</h2>

    <ion-list inset>
      <ion-item>User Experience: {{userInfo.user_experience}}</ion-item>
      <ion-item>User Points: {{userInfo.user_points}}</ion-item>
      <!--<button ion-item (click)="updatePicture()">Update Picture</button>
      <button ion-item (click)="changeUsername()">Change Username</button>
      <button ion-item (click)="changePassword()">Change Password</button>
      <button ion-item (click)="support()">Support</button>-->
      <button ion-item (click)="logout()">Logout</button>
    </ion-list>
  </div>
</ion-content>
