<ion-header>
  <ion-navbar>
    <ion-title>Upload TP</ion-title>
    <ion-buttons end>
        <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
        <input type="hidden" formControlName="custom_147">
        <ion-list>
            <ion-item>
                <ion-label for="technical_proposal_title" floating>Titlte</ion-label>
                <ion-input type="text" id="technical_proposal_title" formControlName="technical_proposal_title"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label for="technical_proposal_descriptiontp" floating>Description</ion-label>
                <ion-input type="text" id="technical_proposal_description" formControlName="technical_proposal_description"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label for="tp">Select TP</ion-label>
                <ion-input type="file" id="custom_70" (change)="uploadTp($event)" formControlName="custom_70"></ion-input>
            </ion-item>
            <div class="row">
                <div class="col" text-left>
                    <button ion-button full type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
                </div>
            </div>
        </ion-list>
    </form>
    <!-- <p padding>
      <ion-label>Select TP</ion-label>
      <ion-input type="file" (change)="uploadTp($event)"></ion-input>
    </p>
    <p>
      <button ion-button full (click)="uploadTp()" color="primary"><ion-icon name="done-all">Upload</ion-icon></button>
    </p> -->
</ion-content>
