page-update-view {
    .card-img{
        height: 100px;        
        width: 80px;
        text-align: center;
        margin: auto;
    }
    .card-img-multi{
        height: 70px;        
        width: 70px;
    }
    ion-item {
        margin-top: 5px;
        height: 50px;
    }
}
