<ion-header>
  <ion-navbar>
    <ion-title>{{getTitle()}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="moduleAttributesList">
    <div *ngFor="let elm of moduleAttributesList">
      <!-- text input -->
      <ion-item *ngIf="elm?.type == 'text'">
        <h4>{{elm?.label}}</h4>
        <p>{{elm.model}}</p>
      </ion-item>

      <!-- rte input -->
      <ion-item *ngIf="elm?.type == 'rte'">
        <h4>{{elm?.label}}</h4>
        <p>{{elm.model}}</p>
      </ion-item>

      <!-- Textarea -->
      <ion-item *ngIf="elm?.type == 'textarea'">
        <ion-textarea placeholder="{{elm?.label}}" id="{{elm.attrKey}}" name="{{elm.attrKey}}" [(ngModel)]="elm.model"></ion-textarea>
      </ion-item>

      <!-- Image Upload -->
      <ion-card *ngIf="elm?.type == 'fileUpload' && elm.model">
        <img class="card-img" alt="image" [src]="'https://apps.izeberg.com/maxis_osp/uploads/default/custom/'+ elm.model" 
        (click)="showImage('https://apps.izeberg.com/maxis_osp/uploads/default/custom/'+ elm.model)"/>
        <!-- <img class="card-img" alt="image" [src]="elm.model" /> -->
      </ion-card>

      <!-- Multi Image Upload -->
      <ion-grid *ngIf="elm?.type == 'multiFileUpload' && elm.model">
        <ion-row [ngStyle]="{'text-align' : 'center', 'margin': 'auto'}">
          <ion-col *ngFor="let elmData of elm.data">
            <img class="column card-img-multi" alt="image" [src]="'https://apps.izeberg.com/maxis_osp/uploads/default/custom/' + elmData"
            (click)="showImage('https://apps.izeberg.com/maxis_osp/uploads/default/custom/'+ elmData)"/>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item class="camCapture" *ngIf="elm?.type == 'fileUpload'" text-center>
        <input type="hidden" id="{{elm.attrKey}}" name="{{elm.attrKey}}" [(ngModel)]="elm.model" />
        <div>{{elm.model}}</div>
      </ion-item>

      <!-- Dropdown -->
      <ion-item *ngIf="elm?.type == 'dropdown'">
        <h4>{{elm?.label}}</h4>
        <p>{{getDropDown(elm.model,elm)}}</p>
      </ion-item>

      <!-- Date Picker -->
      <ion-item *ngIf="elm?.type == 'date'">
        <h4>{{elm?.label}}</h4>
        <p>{{elm.model}}</p>
      </ion-item>
    </div>

  </ion-list>
</ion-content>