<ion-header>
    <ion-navbar [ngClass]="{'completed':isComplete}">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf = "isComplete" style="text-align:center;">Completed</ion-title>
        <ion-buttons end class="navbarBtns">
            <button ion-button (click)="completed();" [disabled]="completeButtonDisabled">
                <ion-icon *ngIf="!isComplete" name="ios-checkmark-circle-outline"></ion-icon>
                <ion-icon *ngIf="isComplete" name="ios-close-circle-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar> 
</ion-header>


<ion-content class="outer-content">
    <ion-toolbar class="input-wrap">
        <ion-row class="message_row">
            <ion-col col-1>
                <button ion-button clear icon-only item-right (click)="getMultimediaMenu($event)">
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-9 class="input-box">
                <ion-item no-lines>
                        <ion-input #chat_input type="text" placeholder="Message" [(ngModel)]="discussionMsg"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-2>
                <button ion-button clear icon-only item-right (click)="sendMsg()" [disabled]="discussionMsg == ''">
                    <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
    <!-- <ion-toolbar class="input-wrap">
        <ion-row class="message_row">
            <ion-col col-10>
                <ion-item no-lines>
                    <ion-input #chat_input type="text" placeholder="Message" [(ngModel)]="discussionMsg"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-2>
                <button ion-button clear icon-only item-right (click)="sendMsg()" [disabled]="message === ''">
                    <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-toolbar> -->
    <ion-card>
      <ion-item>
          <h2 [innerHTML]="activity?.activity_name" text-wrap></h2>
          <h4 text-wrap *ngIf = 'activity.activity_project_id != 0'>{{projectDetail?.project_name}}</h4>
      </ion-item>

        <ion-card-content>
          <p [innerHTML]="activity?.activity_description"></p>
        </ion-card-content>
        <ion-card-content>
            <ion-badge *ngFor="let tag of activity?.activity_tags_parsed" style="margin-right:2px;">{{tag}}</ion-badge>
        </ion-card-content>
    </ion-card>
    
    
    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img (click)="openAssignee($event)" src="{{systemUsers?getUserPic(activity.activity_assigned_to_id):''}}">
        </ion-avatar>
        <h2>{{systemUsers?getUser(activity.activity_assigned_to_id).user_name:''}}</h2>
        <!-- <p>{{activity?.startDate}} - {{activity?.endDate}}  <ion-icon ios="ios-calendar" md="md-calendar" (click) = "selectDate();"></ion-icon></p> -->        
      </ion-item>
      <ion-item *ngIf = 'activity.activity_project_id == 0 && projects'>
        <ion-label>Project</ion-label>
        <ion-select [(ngModel)]="activity_project_id"  (ngModelChange)="updateProject();">
            <ion-option *ngFor="let project of projects" value="{{project.project_id}}">{{project.project_name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="startDate" (ngModelChange)="updateDate('startDate');"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End Date</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="endDate" (ngModelChange)="updateDate('endDate');"></ion-datetime>
      </ion-item>

    </ion-card>
    <div class="message-wrap">   
        <div class="message left" *ngIf="base64Image">
            <!-- msg.userId === toUser.id -->
            <!-- [class.right]=" msg.userId === user.id " -->
            <img class="user-img" src="assets/img/appicon.png" alt="">
            <!-- <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner> -->
            <div class="msg-detail">
                <div class="msg-info">
                    <p>nothing</p> <!-- | relativeTime -->
                </div>
                <div class="msg-content">
                    <span class="triangle"></span>
                    <img [src]="base64Image"  *ngIf="base64Image"/>
                </div>
            </div>
        </div>     
        <div *ngFor="let msg of discussions"
                class="message"
                [class.left]=" msg.user_id != userInfo.user_id "
                [class.right]=" msg.user_id === userInfo.user_id "
                >
                <!-- msg.userId === toUser.id -->
                <!-- [class.right]=" msg.userId === user.id " -->
            <img class="user-img" [src]="msg.user_display_pic" alt="" src="">
            <!-- <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner> -->
            <div class="msg-detail">
                <div class="msg-info">
                    <p>
                        {{msg.user_name}}&nbsp;&nbsp;&nbsp;{{msg.discussion_created_on}}</p> <!-- | relativeTime -->
                </div>
                <div class="msg-content">
                    <span class="triangle"></span>
                    <!-- <ion-thumbnail item-start> -->
                    <img class="attachImage" src="{{msg.document.href}}" *ngIf="msg.document !== undefined" >
                    <!-- </ion-thumbnail> -->
                    <p class="line-breaker" [innerHTML]="msg?.discussion_comments" *ngIf="msg.document === undefined"></p>
                </div>
            </div>
        </div>
        <div class="message" style="height:60px;">&nbsp;</div>
    </div>
</ion-content>